[2018-04-03 16:26] chrisvfritz commented on #1532
I think it's related to [this problem](https://hexo.io/docs/troubleshooting.html#ENOSPC-Error-Linux), as `EMFILE` basically means too many files open. Increasing the max users watches for the system should fix it.

[2018-04-03 22:32] cfjedimaster commented on #1359
FYI, PR filed. https://github.com/vuejs/vuejs.org/pull/1550

[2018-04-04 00:51] cfjedimaster commented on #1359
Heal up!

[2018-04-05 09:07] robaxelsen opened #1561 "Make cookbook available in search results"
The first times I wanted to check out the cookbook again (after initially learning about it's existence), my first impulse when looking for it was to:
1. ...go to the main page
2. click the search field
3. enter keyword and search for it

If I got no results in the search, my next impulse was to google for it, only to realize when I found it that it was located at vuejs.org after all. Took me a li

[2018-04-05 14:36] chrisvfritz commented on #1561
Great idea. 🙂 While we're at it, I just noticed the Style Guide is also not being indexed. @maxiloc How should we go about adding the [Style Guide](https://vuejs.org/v2/style-guide/) and [Cookbook](https://vuejs.org/v2/cookbook/) to the index?

[2018-04-05 16:30] davidkhess opened #1562 "Confusion on and additional subtleties of v-bind.sync"
This is a complex topic and I might be missing something, but....

I think the docs at https://vuejs.org/v2/guide/components-custom-events.html#sync-Modifier could use three updates:

1. There should be some mention that `.sync` can only be used when the expression is a proper lvalue. For instance: `:title="title"`

`:title="title + '!'"` won't work. It will generate an error along the lines of:

[2018-04-05 17:51] sdras opened #1564 "Toggle for examples between string templates and SFC"
As discussed with @chrisvfritz last night, we want to build a nice toggle that will allow the examples to be viewed as string templates or single file component examples. We think this will provide clarity both for people who are just coming to Vue and currently don't get to see SFC examples for a while, as well as people who have used the Vue CLI for a more standard application and can then see r

[2018-04-05 18:00] chrisvfritz commented on #1562
Thanks for bringing up these concerns! 🙂

Hm, I'm torn about this one, because we do explain how the syntax sugar is expanded. In this case, `title.sync="title + '!'"` expands to:

[code]

And just as Vue warned you, `title + '!'` on the left-hand of an assignment doesn't make any sense.

Actually, in _both_ cases we're updating a literal key on an object, because templates work under scope of the

[2018-04-05 18:24] davidkhess commented on #1562
On 1., I think it could be a common mistake for less experienced developers to make since arbitrary expressions are otherwise supported in v-bind. It's only when .sync is added that an lvalue is required. The error message doesn't specifically mention a possible misuse of `.sync` – maybe adding a mention to the error message is another option?

On 2., true enough – however this is the only use of

[2018-04-05 22:08] davidkhess commented on #1562
So, what prompted this ticket was updating some code using this feature and not liking what we've discussed above.

After wrangling with this more, I came up with this strategy as the cleanest.

1. Do use v-bind="<object>" but don't use .sync.
2. Do use a computed but return a simple object (no getters/setters).
3. Use a custom event to notify the parent that something has updated and it can set i

[2018-04-06 12:00] s-pace commented on #1561
👋 @robaxelsen @ @chrisvfritz ,

I am working [on DocSearch](https://community.algolia.com/docsearch/documentation/docsearch/introduction/) with @maxiloc.

I have updated your DocSearch configuration and populate your index in order to encompass the ressources you point out. Change are live.

Let us know if you have any feedback. Btw, please note that we have a v2 for our Search-UI.

Cheers

[2018-04-06 12:07] robaxelsen commented on #1561
@s-pace Awesome, thanks! Have a great weekend :tada:

[2018-04-06 12:07] #1561 closed

[2018-04-06 12:25] s-pace commented on #1561
@robaxelsen You are welcome.

Just to give you a quick idea of it: http://vuejs-docsearch-v2.surge.sh/

[2018-04-06 12:34] robaxelsen commented on #1561
@s-pace That link takes me to https://vuejs.org/v2/guide/. Was that intentional?

[2018-04-06 12:43] s-pace commented on #1561
Yes it is only the front end part that matters. It introduces the Serach-UI, the global behaviour stay the same

[2018-04-06 18:00] chrisvfritz commented on #1562
Yeah, I agree that if some people are having a problem with it, there are definitely ways we could improve our explanation for it. 🙂

To give some more background, thinking about `:title.sync="title"` like a normal binding with extra behavior is really the wrong way to think about it, because two-way bindings are fundamentally different.  The `.sync` modifier works essentially like `v-model`, whic

[2018-04-06 18:34] davidkhess commented on #1562
On the first, I think that's a pretty good explanation to help people understand that v-bind down is very different from .sync coming up in terms of implementation of the two behaviors. But it's not intuitive that .sync fundamentally changes the behavior of the v-bind it is being used on. If so, then shouldn't it just be a differently named directive? Something like v-bind-sync?

Maybe just focusi

[2018-04-08 13:56] isaaclyman opened #1569 "Unclear how to use scoped slot data in component scripts"
The documentation on [scoped slots](https://vuejs.org/v2/guide/components-slots.html#Scoped-Slots) explains how to pass data to a child component template via a <slot>, but does not explain how to pass data to a child component *script* using a <slot>. This information is [available](https://vuejs.org/v2/api/#vm-scopedSlots) [elsewhere](https://vuejs.org/v2/guide/render-function.html#Slots), but h

[2018-04-10 03:26] konaraddio opened #1573 "[Cookbook Idea] Building a desktop application with Electron and Vue"
# Vue + Electron Cookbook Recipe

Is there interest for a recipe on building desktop apps with Electron and Vue? Here's a brief overview of how the recipe would follow the template:

**Solve a specific, common problem**: Build a desktop application's UI with Vue

**Start with the simplest possible example**: I'm thinking of doing a markdown editor or tic tac toe but I'm open to suggestions

**Intr

[2018-04-11 07:32] darkleave opened #1574 "the question about the guide of the chapter of the State Transitions"
Transitions & Animation >> State Transitions >> Organizing Transitions into Components

the code here:

Vue.component('animated-integer', {
  template: '<span>{{ tweeningValue }}</span>',
  props: {
    value: {
      type: Number,
      required: true
    }
  },
  data: function () {
    return {
      tweeningValue: 0
    }
  },
  watch: {
    value: function (newValue, oldValue) {
      this.tw

[2018-04-11 09:51] wbankowski commented on #1436
Hi @anushhka - with pleasure, I will contribute to the community of Vue.js and make a translation for Polish users. Let me know how you're doing with the stuff so I can join the efforts.

[2018-04-11 14:05] chrisvfritz commented on #1574
Thanks for the issue! 🙂 Could you describe the problem you encountered that this fixes?

[2018-04-12 01:43] darkleave commented on #1574
if use the **object** to acquire the **tweeningValue**,it would be undefined,
the right way to acquire the **tweeningValue** is use **this**,like the source code of the below example.
sorry for my bad english

[2018-04-12 08:35] wbankowski commented on #1436
Hi @chrisvfritz - it seems that nothing was done in this issue and there is no contact with @anushhka
Is there a chance to take control over vuejs-pl organization or should I set up a new one, like pl-vuejs. Is it ok for you?

[2018-04-12 16:08] chrisvfritz commented on #1436
I'd recommend giving @anushhka a little more time to respond to your comment, then trying to contact her via email/Twitter. If you still can't get in touch, you could technically contact GitHub to try to get control, but I think it would be easier to just create a new one and that'd be fine with me. 🙂

[2018-04-14 22:43] sushchyk opened #1579 "Docs: Example for Binding Native Events to Components"
This is simplified version of [example](https://vuejs.org/v2/guide/components-custom-events.html#Binding-Native-Events-to-Components) that explains how to bind native events to components:
[code]
[code]
This code doesn't work, because as Vue Api [says](https://vuejs.org/v2/api/#vm-listeners)`$listeners` property only contains parent-scope `v-on` event listeners without `.native` modifiers. So, exa

[2018-04-15 07:07] bloggervista opened #1580 "Production Deployment: Using webpack on production mode?"
In docs it says to use webpack in production we should do

[code]

but we think we can do it simply using mode property only, isn't it?

[code]

Or is it due to webpack version?

Links:
https://vuejs.org/v2/guide/deployment.html#With-Build-Tools
https://webpack.js.org/concepts/#mode
Thank you .

[2018-04-15 19:19] dtsao opened #1581 "Add tip/work around when use a debounce function in a component's watch, the debounce function needs to be defined in the created event"
As discussed in the [forum](https://forum.vuejs.org/t/issues-with-vuejs-component-and-debounce/7224/15?u=davidt1154), a debounce function defined in a component's watch will not work as expected when there are multiple instances of the component. See [example](https://codesandbox.io/s/713y67rv6). The expected behavior is that the watch will fire the debounce function in all component instances, bu

[2018-04-16 07:35] donnysim commented on #1581
Technically everything works as it should. Every component has the same function instance but is called with different context, so what happens in this case is you're calling the same `debounce` function across all components but with different context.

Short simplified example (changed debounce logic for simplification):

[code]

first component that triggers `debouncedFn` will execute it with `

[2018-04-16 09:19] HawkeyePierce89 opened #1582 "Axios cookbook and mounted"
https://vuejs.org/v2/cookbook/using-axios-to-consume-apis.html

Why we get data from server on mounted-lificycle? Why we not using created-lifecycle?

[2018-04-16 16:36] dtsao commented on #1581
@donnysim, when I define the debouncedFn in a method instead of in the created event, the watch only updates one component instance. See [example](https://codesandbox.io/s/7y0mrx3k8x).

This is unfortunately, the same behavior as in my original example, where the debouncedFn was defined in the watch. Unless I am missing something, it still looks like the debouncedFn needs to be defined in the crea

[2018-04-16 16:43] donnysim commented on #1581
@dtsao oh right, you're completely correct, my brain forgot that methods are shared too 😅

[2018-04-16 21:26] AlexandreBonneau commented on #1532
Sorry I forgot to get back to that issue; since then I managed to make it work, but I do not recall what change exactly did the trick.

Right now `ulimit -n` returns `1024` (which is the default), and I'm using node `v9.10.1`.

[2018-04-16 21:26] #1532 closed

[2018-04-17 10:47] paddyjo opened #1584 "Introduction not clear for beginner"
Examples are easy to follow using jsfiddle but I can't see where it says to place the html and JS (from examples) if I want to use vue from a html file locally. I am a beginner but I would like to get up and going quick without having to google this.

[2018-04-18 17:27] WillowHQ opened #1585 "[Cookbook] Basic deployment to firebase hosting"
I'd like to contribute a quick recipe to describe the simplest way to deploy vue-cli to firebase hosting.
This is introductory level, the purpose of it is to help new users quickly deploy. It is not meant to be a best practice in industry standard production deployments.

[2018-04-19 09:05] sdras commented on #1585
I think this is a great idea for a recipe, but the recipe linked doesn't follow cookbook format. Looking forward to your revision!

[2018-04-19 09:16] sdras commented on #1509
Thanks everyone for your interest in this issue and your patience. We've talked it over and here is how we've decided to address this issue and issues of this nature in the future.

- Whenever we create an integration guide that's a paid service, we'll begin the recipe with a _small callout_ that lets the reader know this upfront. I will update the contributions guide with this detail, and make a

[2018-04-19 09:16] #1509 closed

[2018-04-20 03:45] CubeLuke commented on #1580
Setting the mode to `production` was something that was new for webpack 4, so the vuejs docs weren't updated to reflect that. Just having the mode should be enough.

[2018-04-20 10:35] sdras commented on #1584
Hi @paddyjo!

Though I do appreciate your position, the Vue guide is meant for people new to Vue, not really for beginning web development as a whole. I believe what you're describing falls more into the latter category. We can't teach all of web development here, we have to retain some focus. I actually think it's _great_ to google this! Whether you're a beginner or seasoned programmer, google wi

[2018-04-20 10:35] #1584 closed

[2018-04-21 14:55] SimGenius opened #1592 "赞助方式能否增加支付宝"

[2018-04-22 08:49] christ0ph3r opened #1593 "Grid component does not work for sorting numbers"
In the example https://vuejs.org/v2/examples/grid-component.html, there is some numbers in the example.  Once you put some bigger numbers in though, the sorting is incorrect.

JS Fiddle with 78,000: https://jsfiddle.net/cwdtopnu/1/

[2018-04-23 11:26] byog opened #1594 "Question about modify the length of the array"
The way of modifying the length of the array In Vue's guide is

``` vm.items.splice(newLength) ```

but it is not effective immediately I found in practice, my main code is
[code]

When I execute in chrome console
[code]

As described above, I think **vm.items.splice(newLength)** is invalid.

[2018-04-23 14:13] dillonchanis opened #1595 "[Cookbook] Creating and Using an ErrorBoundary Component"
React 16 introduced a pattern of utilizing [ErrorBoundary](https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html) components to handle UI errors that might otherwise break the application.  I touched on this idea in this [post](https://medium.com/@dillonchanis/handling-errors-in-vue-with-error-boundaries-91f6ead0093b) and think it might be a decent candidate for the cookbook.  I coul

[2018-04-23 14:53] sdras commented on #1595
This sounds like a great addition! I appreciate you outlining the sections. Looking forward to it!

[2018-04-23 23:25] uptownhr opened #1596 "API: Provide-Inject documentation is confusing"
I ended up at the Provide-Inject documentation as I browsing `vue-scrollmonitor` plugin and saw provide() being declared. https://github.com/AlexandreBonaventure/vue-scrollmonitor/blob/dev/src/vue-scrollmonitor.js#L25

I wanted to learn more and when I landed on Vue's documentation of it, the explanation makes sense but the examples through me off and makes believe that the example is wrong.

[cod

[2018-04-23 23:26] uptownhr commented on #1596
Ah, now i'm seeing the disconnect. `var Provider` should be noted as the parent component. the `// ...` wasn't enough for me to tell that a component was being declared.

[2018-04-24 11:02] chrisbruford opened #1598 "Computed docs demo for watch suggests it cannot be done with computed - but it can"
[Doc in question](https://github.com/vuejs/vuejs.org/blob/master/src/v2/guide/computed.md)

But I believe I have a [fiddle](https://jsfiddle.net/cbruford/aa3L8n9e/) showing that this is not true

So I believe it is possible, but should be avoided; the computed property needs to reference a data property which is a little inelegant but also could be changed directly without triggering the API looku

[2018-04-25 13:01] erik127 commented on #394
Hi all,
The issue still exists on iOS 11.3. Keyup.enter doesn't get detected with the smart keyboard. I logged out the keyup events to the console and the differences between the smart keyboard and other keyboards are:
- code = "Unidentified" (vs "Enter")
- keyCode = 0 (vs 13 on other keyboards)
- keyIdentifier= "Unidentified" (vs "Enter")
- which = 0 (vs 13 on other keyboards)

The only property

[2018-04-26 21:12] #1579 closed

[2018-04-26 21:17] #1580 closed

[2018-04-26 21:18] chrisvfritz commented on #1592
Assigning to you @yyx990803, as this appears to be about sponsorship.

[2018-04-26 21:29] chrisvfritz commented on #1594
It will work for _decreasing_ the number of items in array, but increasing the size and an array and filling in the extra indices with empty items. Could you provide more context for the use case?

[2018-04-26 21:30] #1596 closed

[2018-04-26 21:36] sdras commented on #1316
this is done 🎉

[2018-04-26 21:41] chrisvfritz commented on #1598
I think it's fine the way it is. _Technically_, a computed property can be involved, you can't accomplish this with a computed property alone - this is a hack that also requires a proxied data property and a method. The computed property is little more than a getter and setter at this point.

[2018-04-26 21:41] #1598 closed

[2018-04-26 23:44] chrisvfritz commented on #394
It looks like the correct `keyCode` isn't being triggered then. It should work with @keyup.Enter though and since `keyCode` is starting to be phased out, maybe aliases like `@keyup.enter` should alias to their corresponding `key` instead of `keyCode`. I think it's worth opening up an issue on [the main repo](https://github.com/vuejs/vue) for.

[2018-04-27 02:57] christ0ph3r commented on #1593
You misread and just closed it without addressing the issue :/ clearly not
working with numbers, look again.

On Fri, Apr 27, 2018, 04:21 Chris Fritz <notifications@github.com> wrote:

[2018-04-27 03:09] chrisvfritz commented on #1593
What exactly did I misread? Did you try clicking on the column heading as I suggested?

![](http://g.recordit.co/Rd6xzfYdeR.gif)

[2018-04-27 03:51] JJPandari opened #1601 "api doc: explicitly tell `set` only works when the prop doesn't exist yet"
**Note**: Here I'm all talking about a prop that **doesn't** exist in `data` in the first place.

[The api](https://vuejs.org/v2/api/#Vue-set) says:

At least for me, it's not clear "does `set` work if the prop isn't in `data`, and I've already added it diredtly without `set`?". So I tried [the source code](https://github.com/vuejs/vue/blob/3eb37acf98e2d9737de897ebe7bdb7e9576bcc21/src/core/observe

[2018-04-27 13:33] WillowHQ commented on #1585
Sorry for the delay. Instead of writing out a recipe, I added a deployment section to the vue-cli docs/README.md . I felt that was more appropriate. Thanks !

[2018-04-27 13:33] #1585 closed

[2018-04-27 14:03] chrisvfritz commented on #1601
Set _should_ also work with a property that already exists, [like here](https://codepen.io/chrisvfritz/pen/QrGqGG) - it's just not necessary. Could you provide a pen/fiddle demonstrating the situation you found where it doesn't work?

[2018-04-27 20:50] ansipes opened #1603 "xfive logo pixelated/incorrect on Sponser Vuejs Development"
https://vuejs.org/support-vuejs/

The xfive logo looks incorrect:

<img width="601" alt="xfive-error" src="https://user-images.githubusercontent.com/25012869/39384413-ba0ea104-4a3a-11e8-82e4-0e1fdd8a2dcc.png">

Should look more like this:

![xfive-correct](https://user-images.githubusercontent.com/25012869/39384514-13a3073c-4a3b-11e8-9ce0-e0dd07d996af.jpg)

[2018-04-30 15:02] chrisvfritz commented on #1601
Ah, I see the issue here. It's:

The reason `set` exists is because you _can't_ add new, reactive properties without it. And in the docs, we specify that `Vue.set` is only for property creation/addition:

To me, that already specifies that `set` is only for new (non-existing) properties, but I'm also open to alternate phrasing or adding an example if you think that would be helpful. What are your

[2018-04-30 17:28] chrisvfritz commented on #1603
Thanks for reporting this! Unfortunately, there isn't much we can do from our end, as we pull these images directly from Open Collective. If you work at xfive or happen to know someone who does, they should be able to upload a different image to Open Collective. Within a few days, it will have updated on our site. 🙂

[2018-04-30 17:28] #1603 closed

[2018-04-30 23:25] tessaSAC opened #1605 "Would like to request more in-depth explanation of component registration section"
I am confused about whether files should be named in Pascal or kebab-case, if it matters, for automatic global base component registration.

I've seen the pattern described in [_Automatic Global Registration of Base Components_](https://vuejs.org/v2/guide/components-registration.html#Automatic-Global-Registration-of-Base-Components) both in the docs and in Chris' recent talk, and the docs do illum

[2018-05-01 14:57] chrisvfritz commented on #1605
Thanks for these great questions. 🙂 To start off, I'll try to clarify a few points you brought up:

Both are acceptable and it doesn't matter for global component registration. You can read more about our filename recommendations in [this style guide rule](https://vuejs.org/v2/style-guide/#Single-file-component-filename-casing-strongly-recommended).

Yes, that's my preferred convention, because it

[2018-05-02 03:26] JJPandari commented on #1601
Of the phrasing, I'm not sure, I'm Chinese and your name suggests you're a native English speaker so... I feel: "created", can I *recreated* it with $set? Because I don't need view update when the prop is added, but do when I used $set. "cannot detect addition", sure, can I make up for it using $set after addition? Feels somehow vague, but I'm not sure if it's necessary to stress using $set later

[2018-05-02 12:59] chrisvfritz commented on #1601
Hm, what would you think about this rewording?

[2018-05-04 02:05] JJPandari commented on #1601
I think this is more clear if anyone has the same doubt as me:

Somehow I feel this behavior itself is not intuitive. I've opened an issue for vue, let's see what people say about that then.

[2018-05-04 03:32] alfredking1988 opened #1610 "PDF version of doc ?"
Hi, the current doc is very good. It would be even better if they can be printed.

I know the API doc is already in one page so it can be printed easily.
But the Guide, Style and Cookbook docs are not.

Is it possible to have the pdf version or one page version of doc ?

Thanks

[2018-05-04 16:35] sdras opened #1612 "Good example of child emitting to a parent"
Someone brought up to me that they didn't think the docs had a good, simple example of a child emitting to the parent component. I looked around a few times and think this might be true. It's possible that I missed it, but if I did after looking, and this person did as well, if it does exist we might want to make it more prominent. @chrisvfritz you're probably the one that knows best.

[2018-05-04 18:51] chrisvfritz commented on #1612
If you both looked for a simple example and didn't find what you were looking, I agree there's definitely a problem. 🙂

The first example we provide is [this blog post example](https://vuejs.org/v2/guide/components.html#Sending-Messages-to-Parents-with-Events) on the Components Basics page. Is there a way you think we can/should simplify it? Or were you thinking of first moving away from the blog

[2018-05-04 19:18] chrisvfritz commented on #1601
Excellent! I just made that update to the docs. I also left a comment on your issue. I don't think `Vue.set` should work to make _existing_ properties reactive, because not doing it initially leaves open a window for bugs. I do agree we can improve the experience, however, and suggested that Vue emit a warning instead so that users know what they've done wrong. 🙂

[2018-05-04 19:18] #1601 closed

[2018-05-04 19:29] chrisvfritz commented on #1610
Thanks for the suggestion! 🙂 Improvements to our print styles are always welcome, but I don't think we'll offer a PDF converter or another way to easily print out the entire website, unless it's very simple and easy to maintain.

The reason is that printing a page of the docs is already relatively rare, so I'm thinking that wanting to print out _everything_ will be even more rare. Plus, we make up

[2018-05-04 19:29] #1610 closed

[2018-05-05 06:32] alfredking1988 commented on #1610
Got it !

But will you consider provide a one page version, just like the docs of node.js, it has pages for each sections and also a single page version for all sections.

Thank you

[2018-05-05 17:00] afontcu commented on #1540
Hi! An simple solution would be rephrasing the first section:

`You can also provide a second argument for the key:`

to something like

`You can also provide a second argument for the name of the property`

You just said "property" in the first sentence of the section, so I guess that'd make sense.

---

I was thinking about it, and I came to the realization that, since we are supposed to _always

[2018-05-05 17:11] sdras commented on #1540
I think that's an excellent point @afontcu and we'd gladly take a PR for it.

[2018-05-05 17:12] sdras commented on #1540
For reference- @chrisvfritz does have a PR open already that we're working on here, but it doesn't yet take into consideration your suggestion: https://github.com/vuejs/vuejs.org/pull/1554

[2018-05-05 17:17] afontcu commented on #1540
Cool! that PR is a great starting point, so I'll let Christ handle it :)

[2018-05-05 21:47] sdras commented on #1612
Ah, yeah I see it- actually I had read through it before but since it wasn't exactly just "showing how to emit" I didn't think of it when it was brought up. This particular example didn't come up in search for me, either, and when I looked at the API, [it did seem a bit scarce](https://vuejs.org/v2/api/#vm-emit). So maybe in order to not interrupt the flow of the page we could add the simplest pos

[2018-05-06 00:29] dasjestyr commented on #1612
The wording is a bit confusing as well. In the component example, it says that $emit will send the event to the parent. However, when I created two separate blocks that had a <blog-post> repeater in it, button clicks would emit the event to both blocks. It is unclear as to what "parent" really means in this context.

[2018-05-06 00:30] dasjestyr commented on #1612
<div id="app">

    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:title="post.title"
            v-bind:content="post.content"
            v-on:enlarge-text="postFontSize += 0.1">
        </blog-post>
    </div>

    <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post

[2018-05-06 00:34] dasjestyr commented on #1612
In the component example, it says that $emit will emit the event to the "parent" but it is unclear what the "parent" is, in this context. For example:

[code]

If I click *any* of the buttons, then *everything* gets updated. I realize they're both sharing the same view model, however, based on how the example is written, I would assume that if I clicked a button inside of the 2nd "parent" then the

[2018-05-06 06:23] bencooper222 opened #1613 "Preact in comparisons guide"
I've often heard that Preact is a good solution to the difference in load time and perf between React and Vue. I don't have nearly the expertise to evaluate that claim but would definitely appreciate a section under the React comparison section (it probably doesn't need its own section - Preact is super similar to React) about how Vue compares to Preact.

[2018-05-07 07:33] zwcw17 opened #1614 "Inaccuracy in comparisons guide"
vue真的很容易上手，学习成本相对低，不过可以参考的资料不是很丰富，官方文档比较简单，缺少全面的使用案例。高级的用法，需要自己去研究源码，至少目前是这样

[2018-05-07 09:57] dear-lizhihua commented on #1614
参考的资料不是很丰富，能别扯淡吗？

[2018-05-07 10:09] zwcw17 commented on #1614
键盘侠？

| |
高志伟
邮箱：zwcw17@163.com
|

签名由 网易邮箱大师 定制

在2018年05月07日 17:57，lizhihua 写道：

参考的资料不是很丰富，能别扯淡吗？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-05-07 10:25] dear-lizhihua commented on #1614
伸手党？

[2018-05-07 16:54] chrisvfritz commented on #1610
I'd be open to a PR that generates a single-page version of the guide. 🙂

[2018-05-07 18:00] chrisvfritz commented on #1613
If you look at the [3rd-party benchmark](http://www.stefankrause.net/js-frameworks-benchmark7/table.html) we link to, you'll see that all 3 are extremely fast. My impression is that the big perf advantages Preact used to have over React have largely disappeared.

As you said, Preact is very similar to React, so there's not much to say. I think the main difference is that because Preact isn't fully

[2018-05-08 05:43] byog commented on #1594
Sorry, reply to you now. **[Here](https://jsfiddle.net/728wu5eL/2/)** is my whole code.

[2018-05-08 14:15] Elfayer opened #1615 "Can't find anymore the schema "Props in, events out""
I used to share a lot a part of the documentation that contained the following schema to explain how props and events works. More specifically to explain how to design a component.:
![image](https://user-images.githubusercontent.com/15869149/39762426-38ed0616-530d-11e8-8799-b242621ba620.png)

But I can't fin it anymore, what happened?
Did I miss it?

[2018-05-08 14:43] chrisvfritz commented on #1594
@byog I think the code example you linked to may be incomplete, because I didn't see `splice` used there.

[2018-05-08 14:55] chrisvfritz commented on #1612
@sdras

I like that! Should I use the button example I posted above or did you have any idea for another example?

Yeah, sounds good. 🙂

In this case, that shared view model (`new Vue` instance) is the parent. Does this explanation make sense: "A component's parent is the Vue or component instance that uses it." Would that clarify things if we added it?

[2018-05-09 03:28] Elfayer opened #1617 "JS snippet should be HTML"
Here: https://vuejs.org/v2/guide/components-custom-events.html#Customizing-Component-v-model

The second snippet below is written in HTML but the code highlight is using JS:
![image](https://user-images.githubusercontent.com/15869149/39794268-0915f5c8-537c-11e8-9cd6-aeccbd2e3353.png)

[2018-05-09 05:28] byog commented on #1594
@chrisvfritz I didn't use splice in code, it used in chrome console.
[code]

[2018-05-09 19:08] bencooper222 commented on #1613
Definitely does - could we include a version of what you just said on the website?

[2018-05-09 21:45] emileber opened #1619 "Transition-group mode is not supported"
The following has no effect.

[code]

Also confirmed in the [`transition-group.js` component source](https://github.com/vuejs/vue/blob/5e3823a5766da1df60481e1e7a20f36d08e716ce/src/platforms/weex/runtime/components/transition-group.js#L9):

[code]

As [Evan You said](https://github.com/vuejs/vue/issues/3974#issuecomment-316372415):

I feel like this should be explicitly mentioned in the [list trans

[2018-05-10 03:50] williamhallatt commented on #1357
Hi @sdras, thanks for the Dockerfile example! Would you be willing to share the content of your nginx.conf here?

[2018-05-10 04:04] Ivlison opened #1621 "Inaccuracy in comparisons guide"

[2018-05-12 22:17] dasjestyr commented on #1612
I think so. So if inside of a component definition "ComponentA" I used components called "ComponentB"  and "ComponentC" -- and inside of ComponentB, I emit an event called "DidThing" then it would be ComponentA that receives the event and also disseminates that back down to all child components, including CompnentB **and** ComponentC? And to that effect, any siblings or ancestors of ComponentA wou

[2018-05-12 22:36] sdras commented on #1612
I think the button example is a good one! I'll move the pens to the Vue account this week.

[2018-05-13 19:36] chipit24 opened #1624 "Promote good accessibility practices in example code"
I came across the following code block in the Vue docs, from https://vuejs.org/v2/guide/list.html#v-for-on-a-lt-template-gt:

[code]

To help promote good accessibility practices, I think these examples could be updated to include any relevant aria attributes, roles, etc.:

[code]
See https://www.w3.org/TR/wai-aria-1.1/#presentation.

Once the accessibility guide (https://github.com/vuejs/vuejs.or

[2018-05-13 19:47] sdras commented on #1624
This would be fantastic! Even if you wanted to do it a little at a time, I think we would all be super appreciative.

There is also an older PR in to create an accessibility section. The PR has become a bit cumbersome for the original author given his schedule and he's looking for someone to help pick it up again. That's another way to contribute if it interests you. Thanks!

[2018-05-13 19:48] sdras commented on #1621
There is no description for this issue so I'm going to close it out. Feel free to reopen/submit another when you have more details.

[2018-05-13 19:48] #1621 closed

[2018-05-14 01:06] hmatalonga commented on #1617
Well spotted! :+1:

I submitted a PR to fix it :wink:

[2018-05-14 22:31] #1624 closed

[2018-05-14 22:32] #1617 closed

[2018-05-16 01:03] fredderf204 commented on #1357
@williamhallatt I was able to get this working using @sdras Dockerfile example with some tweaks. Here are my nginx.conf and nginx.default files, which live the in misc folder;

misc\nginx.conf:
[code]
misc\nginx.default:
[code]
DockerFile:
[code]
PS I have crafted the nginx conf files from 2-3 samples I found on the web, so I am not the authority on the subject. But the above is working for me :)

[2018-05-16 03:57] fredderf204 commented on #1357
@williamhallatt @sdras disregard to above solution...... as there is a much better way. [Docker mulit-stage builds](https://docs.docker.com/develop/develop-images/multistage-build/ ). Please see new Dockerfile below;

[code]

No need for custom nginx conf files and reduces my Docker image from 276MB to 110MB :)

[2018-05-16 05:43] williamhallatt commented on #1357
Hi @fredderf204, I managed to get my setup working, but the nginx files were the ones I was after (I cannot run Docker containers in my env). Going to use yours to see if there are any config improvements I can make on ours! 👍

[2018-05-16 08:29] KenCarroll opened #1631 "Framework Comparisons Guide does not reflect recent changes in Polymer"
The Framework Comparison page can be important in helping decision making.

For example I've been using Polymer 2.0. The recent move to Polymer 3.0 and lit-html has provided an opportunity to take a fresh look at the options. Vue being one of them :-)

But the current comparison seems dated - for example it references Polymer 1.0.

Updating the frameworks page to compare Polymer (3.0 and lit-html)

[2018-05-16 20:28] fabriziocucci commented on #1357
@fredderf204
There is [a pending PR](https://github.com/vuejs/vuejs.org/pull/1483/files) which actually shows how to dockerize a Vue.js app taking advantage of the Docker multi-stage builds as you suggested. I'd love to hear your feedback on that!

@williamhallatt
As part of the same PR I mentioned above, one of the first commit actually required a [nginx configuration file](https://github.com/vue

[2018-05-16 22:09] chipit24 commented on #1615
It looks like it was removed in the following PR as part of a refactor to break up the components page: https://github.com/vuejs/vuejs.org/pull/1482. It appears to exists in different versions of the documentation, see, for example, https://it.vuejs.org/v2/guide/components.html#Composing-Components.

The image you reference still exists in the repo here: https://github.com/vuejs/vuejs.org/blob/mas

[2018-05-17 00:53] sdras commented on #1619
Excellent point. I'll try to add a note about that. Pull request to fix also welcome.

[2018-05-17 01:04] chrisvfritz commented on #1594
I think I'm still not sure what the use case is for increasing the length of the array without adding items to the array.

[2018-05-17 01:04] emileber commented on #1619
I could definitely make a pull request for this. I could even translate it to french and pull on vuejs-fr/vuejs.org

I'll setup the project and propose something shortly.

[2018-05-17 05:39] byog commented on #1594
You mean it will work for decreasing the number of items in array, but increasing the size with empty item(eg. app.items.splice(10)) doesn't work, app.items.splice(3,0,'d','e','f','g','h') will work.

**In other words, use splice() to  increasing the size of array must provide non-empty item.**

[2018-05-17 17:13] #1619 closed

[2018-05-17 17:14] chrisvfritz commented on #1619
@emileber Doing a chunk of docs work today, so just added a fix for this, but would love to hear your thoughts on it. 🙂

[2018-05-17 17:17] emileber commented on #1619
@chrisvfritz exactly what I had in mind!

Maybe mentioning the `mode` attribute explicitly in addition to the current message would help as well?

[2018-05-17 17:27] chrisvfritz commented on #1615
I removed it because when rewriting and reflecting on these pages, I felt it wasn't quite accurate. Really, it's more like props, attributes, and slots down, events and slot scopes up, then Vuex omnidirectional (up, down, and lateral). 😄

I'd be open to adding a more complete diagram that we could use as a reference somewhere.

[2018-05-17 19:17] #1613 closed, assigned to nobody

[2018-05-17 20:18] chrisvfritz commented on #1594
Yes, the way `splice` works, you can only increase the size of the array by adding items to the array. 👍

[2018-05-17 20:18] #1594 closed

[2018-05-18 01:53] Elfayer commented on #1615
Ok I understand now.

The thing is, for new comers, it was a very good starting point to understand component's design. They usually start by sending tones of data (objects), modify it directly in the child and not emitting anything. And they would complain about vue warning they should not mutate props. Usually at that point I like to remind them they are supposed to emit events.

The thing is, I

[2018-05-19 01:59] dasjestyr commented on #1612
@chrisvfritz Ok so that's where the confusion is because that's not what I was experiencing. When I find a moment, maybe this weekend, I'll put together a test project that shows what I'm talking about. But basically, I was going through the exercise where the user is able to change the font size for a component. I added two of those components  to the page but the control to increase the font siz

[2018-05-19 02:37] marcong95 opened #1635 "unexpected redirection or mismatched anchor when searching methods about events"
When I search methods about events like `vm.$off` or `vm.$emit`, it guided me to the anchor for `vm.$nextTick`, which I can see the change of anchor from methods I search to `#vm-nextTick` in the address bar.
After cleaning cookies and cached data, there is no redirection mentioned above anymore, but the pages doesn't jumps to anywhere and stay to the same position.
But when I clicked the method m

[2018-05-19 14:57] mattrothenberg opened #1636 "[Cookbook] Normalizing Data in Your Vuex Store"
I'd like to contribute a cookbook on the merits & process of normalizing the data in your Vuex store. I took a _super_ high-level stab at an introduction + base example – would this topic be relevant for the docs?

**Introduction**
Working with deeply nested data can be downright painful, particularly so in the context of a Vuex store where you often need to traverse an array to find/update an ele

[2018-05-20 19:03] dasjestyr commented on #1612
@chrisvfritz Oh you know what I think it is...

Both components are using the same view model, so the font size is bound to the same value. If sibling A causes an update to that value, then sibling A and B will be updated. It's because of the value binding, not the event. Derp. Thanks :)

[2018-05-21 02:58] mazipan opened #1637 "[Cookbook] Lazy load images in Vue.js with IntersectionObserver"
Google has been released guidance for creating lazy load images with `IntersectionObserver` that I think very nice if we also have Vue.js implementation based on that article.
The Idea is creating `vue directive` that wrapping all those logic.

**Base Example**
Base example will be based on https://developers.google.com/web/fundamentals/performance/lazy-loading-guidance/images-and-video/

**Detail

[2018-05-21 15:10] chrisvfritz commented on #1612
@dasjestyr I'm glad we got that figured out. 🙂 Are there any other clarifications you think could improve the experience of other readers?

[2018-05-22 00:06] dasjestyr commented on #1612
@chrisvfritz No I think your suggestion works, unless you wanna add a diagram. Diagrams are always welcome particularly when dealing with messaging :)

[2018-05-22 14:14] sqal opened #1642 "render function"

[2018-05-22 14:14] #1642 closed

[2018-05-22 22:47] chrisvfritz commented on #1612
Thanks! We have another issue for adding a reference diagram, so I'll close this then. 🙂

[2018-05-22 22:47] #1612 closed

[2018-05-23 08:52] BlitZz96 opened #1644 "prop with no value is misleading"
[The docs](https://github.com/vuejs/vuejs.org/blob/master/src/v2/guide/components-props.md#passing-a-boolean) specifies the following:
[code]

In my brain this tells me to do the following:

[code]

[code]

This results in the prop `favorited `equals to `""` == empty string. Not `true`

I know that in order to get this to work, one has to declare the prop of type boolean instead:
[code]

One could

[2018-05-23 11:21] larsmars opened #1645 "vuejs.org documentation for filter"
Reproduction link
https://012.vuejs.org/guide/custom-filter.html

This is my top google hit when I search for vue.js custom filter.

What is expected?
Documentation should have version number.
The two way filter guide is not working/depricated, should be labeled removed/depricated/replaced and link to solution in documentation
(remove or indicate old/outdated documentation)

What is actually happe

[2018-05-23 17:56] chrisvfritz commented on #1645
Hm, a couple (not mutually exclusive) options come to mind. We could:

- Add a banner to all previous versions of the docs, making it clearer that it does not refer to the most recent version of Vue.
- Somehow tweak the SEO so that older docs will only show up in search results when that specific version number is included in the search. Not sure if this is possible. 😕
- Add noindex to all previou

[2018-05-24 02:15] Jinjiang commented on #1645
Btw I found [6 legacy docs in different versions & languages](https://github.com/vuejs?utf8=✓&q=vuejs.org):

* https://011.vuejs.org
* https://012.vuejs.org
* https://012-cn.vuejs.org
* https://v1.vuejs.org
* https://v1-cn.vuejs.org
* https://v1-jp.vuejs.org

We should do the same thing to all of them if any action decided.

Thanks.

[2018-05-24 05:21] larsmars commented on #1645
Easy and effective implementation as @chrisvfritz commented: some kind of indication/banner that this documentation is obsolete and a referance to updated/current version. Frustrating to spend time on an implementation, to later find out that the implementation is outdated/not working.

[2018-05-24 11:48] robertjk opened #1648 "Add note on .sync camelCasing in documentation"
### What problem does this feature solve?
The problem is that the documentation on [Custom Events: Event Names](https://vuejs.org/v2/guide/components-custom-events.html#Event-Names) states:

With `.sync` modifier you must emit event `update:propertyName` with propertyName camelCased. With kebab-case it doesn't work at all. So in the quoted text it's not **always**: more like always unless you emit

[2018-05-24 16:35] cannona opened #1650 "Avoid the use of unnecessary images, particularly for code"
As a totally blind developer, the use of images for some of the code samples in the docs is rather annoying, to say the least. Is there a benefit to doing things this way? Would folks be open to considering alternatives? Or could there be a way to give access to the raw code, perhaps by turning the images into links, which lead to the code in a text format?

For an example of what I'm talking abou

[2018-05-24 21:19] temi4 opened #1651 "Why don't change :href at created hook"
Hello.

I have store

[code]

Use Nuxt

[code]

If i use "mounted" hook in link "`<a target="_blank" :href="user_location.location.site">{{ user_location.location.name }}</a>`", change and href and link.

If I use "created" or "beforeMount" hook in link "`<a target="_blank" :href="user_location.location.site">{{ user_location.location.name }}</a>`", don't change href, but change name
Why href don'

[2018-05-25 00:53] #1644 closed

[2018-05-25 02:56] chrisvfritz commented on #1648
Thanks for bringing this up. 🙂 I think I have a compromise change would allow `$emit('update:property-name')` to work without any breaking changes. We're discussing it now internally, but I'll add a note if it ends up not being possible.

[2018-05-25 03:50] cannona commented on #1650
I would not recommend putting the code in the alt attribute. It's really only intended for short snippets of text, and would most likely not preserve linebreaks and so forth.

The longdesc attribute is also something I wouldn't recommend, since it is not well understood by many screen reader users, and has some limitations that make it a poor choice in general.

I think the best option is to make

[2018-05-25 06:19] sdras commented on #1545
This is in

[2018-05-25 06:19] #1545 closed

[2018-05-25 07:03] robertjk commented on #1648
Alright :).

[2018-05-27 15:32] robcresswell opened #1654 "[Question] What is the theme used in code blocks?"
Hi!

Sorry for the question here, I know it isn't ideal (have tried the Discord, and Google, and no luck.)

What is the theme used in the example code blocks, such as <https://github.com/vuejs/vuejs.org/blob/master/src/images/vue-component.png>? It's quite pleasant and the contrast seems solid too.

Thanks!

[2018-05-28 01:13] chrisvfritz commented on #1654
The question is actually very specific to this repo, so this is the perfect place for it. I believe Evan made it up very early on in Vue's history. You can see some styles for general code blocks defined [in `_common.styl`](https://github.com/vuejs/vuejs.org/blob/master/themes/vue/source/css/_common.styl), with styles for syntax-highlighting [in `_syntax.styl`](https://github.com/vuejs/vuejs.org/b

[2018-05-28 15:04] robcresswell commented on #1654
Awesome, I will do that. Was putting together a highlighting theme for Pygments / Chroma (to be used in Hugo); a lot of themes, pretty as they are, fail the WCAG contrast guidelines. So I think I'll pinch this because it looks like a good start, and I can adjust as required. Thanks @chrisvfritz

[2018-05-28 15:04] #1654 closed

[2018-05-28 21:50] Triloworld commented on #1436
Is there some progress going on? Where is this "vuejs-pl" organization?
This one? : https://github.com/vuejs-pl/vuejs.org
No sync with main repository ;(

[2018-05-29 07:49] wbankowski commented on #1436
Hi @Triloworld. I had tried to contact @anushhka but with no response. Even GitHub stuff tried to do it. There is a group "Translation Gang" that you can contact.

[2018-05-29 09:46] Triloworld commented on #1436
Ok. Can you (@wbankowski) create new organization as you described?
And add me so we can work together. Or I can do that if you need?

[2018-05-29 11:32] Narretz opened #1656 "Router lazy loading page is 404"
I searched for "vue webpack code splitting" with Google and the following link was the second result:

https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwjf6YHW6KrbAhWFsaQKHRpuBqcQFgg1MAE&url=https%3A%2F%2Frouter.vuejs.org%2Fen%2Fadvanced%2Flazy-loading.html&usg=AOvVaw1Tev6PekQWN6-hmsurPn7D

However, the link is 404. So it should either be restored or not ind

[2018-05-29 12:18] wbankowski commented on #1436
Due to lack of contact possibilities with @anushhka we have set a new organization for Polish translation, i.e. pl-vuejs
We kindly inform about it @chrisvfritz and @sdras

[2018-05-29 12:20] Triloworld commented on #1436
Can you add me to it? You don't have any contact information on your profile

[2018-05-29 13:22] wbankowski commented on #1436
@Triloworld I sent an invitation for you already. My email: w.bankowski@me.com and mobile +48 533 95 25 95

[2018-05-30 07:21] Xcelled opened #1657 "object.defineProperty and Vue DevTools"
As seen in [this issue](https://github.com/vuejs/vue-devtools/issues/680), Vue Devtools hides all non-enumerable properties created with `Obect.defineProperty`. Since `enumerable` defaults to `false`, properties are hidden by default which can be quite a gotcha. I'd like to make a PR to add a note about this in the docs somewhere but I'm not sure where the best place is to put it.

Any suggestions

[2018-05-30 11:10] wanghaisheng opened #1658 "netlify deploy error"
I just fork this repo into https://github.com/rpa-cn/vuejs.org and change nothing.
and use setting like this to deploy
[code]
errors are like this
[code]

[2018-05-30 11:51] mkastner opened #1659 "vuejs site running in development mode"
### Reproduction link
[https://vuejs.org](https://vuejs.org)

### Steps to reproduce
enter https://vuejs.org in browser address bar, check console in browser development tools

### What is expected?
vuejs site running in production mode

### What is actually happening?
vuejs is running in development mode

---
Or is it supposed to run in development mode?
![vue-js-dev-mode](https://user-images.git

[2018-06-01 16:15] chrisvfritz commented on #1657
I think a note in the Vue Devtools docs would probably be best. Thanks. 🙂

[2018-06-03 03:47] chrisvfritz commented on #1659
It looks like Evan beat me to this. 🙂 Should be fixed now.

[2018-06-03 03:47] #1659 closed

[2018-06-03 18:01] osipovvictor opened #1667 "Inaccuracy in comparisons guide"
Секция: [Масштабирование-вниз](https://ru.vuejs.org/v2/guide/comparison.html#%D0%9C%D0%B0%D1%81%D1%88%D1%82%D0%B0%D0%B1%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B2%D0%BD%D0%B8%D0%B7)
Именно так — в простейшем случае достаточно просто добавить тег скрипта на **HMTL**-страницу.

[2018-06-03 18:02] robcresswell commented on #1654
@chrisvfritz https://github.com/vuejs/vuejs.org/pull/1666 - had a go at feeding back some tweaks.

[2018-06-03 18:50] chrisvfritz commented on #1667
I like the suggestion. 🙂 I just updated the page in English, so it should be updated in Russian soon too.

[2018-06-03 18:50] #1667 closed

[2018-06-03 19:01] chrisvfritz commented on #1656
Thanks for reporting this! 🙂 I just opened up an issue for this on the Vue Router repo.

[2018-06-03 19:01] #1656 closed

[2018-06-03 19:15] chrisvfritz commented on #1650
Thanks! I followed your suggestion to create text versions of the images. I'd love to hear what you think. 🙂

[2018-06-03 19:33] chrisvfritz commented on #1615
I'd be open to a series of diagrams that act as checkpoints for the components guide. That way, users can get visual summaries of what they've just learned without us implying that it's the full picture. Specifically, I'm thinking about versions of this diagram with:

1. Props down; events up
2. Props and slots down; events up
3. Props, slots, and attributes down; events up
4. Props, slots, attrib

[2018-06-04 01:49] Elfayer commented on #1615
I think that's great!

Just a few questions about the diagrams:
- What are the colors?
- What is the font?
- Any more details to comply to?

[2018-06-04 08:16] goelrohan6 opened #1669 "Not using images in documentation for displaying code"
I guess it will be better to just write the code than embedding images of it, like in https://github.com/vuejs/vuejs.org/blob/master/src/v2/guide/single-file-components.md
It's easier to view or copy, image feels abrupt and opens a gist on click which kind of breaks the flow.

Thoughts?

[2018-06-04 16:54] chrisvfritz commented on #1669
This looks like a duplicate of #1650. I explain there why we decided to use images in this case and recently added the Gists as a compromise. Feel free to add your thoughts there.

[2018-06-04 16:54] #1669 closed

[2018-06-04 16:59] chrisvfritz commented on #1650
To provide more information, another reason we started using images here was because highlight.js didn't offer good syntax highlighting for `.vue` files. If someone were able to write that syntax highlighter or was even willing to manually write syntax-highlighted HTML for these two code examples, I'd be willing to remove the images altogether.

[2018-06-04 20:13] chrisvfritz commented on #1650
Glad to hear it! 😄 I'll close then, but happy to reopen pending new information or if we realize there's a case we still don't handle. Further discussion in this issue is also still welcome.

[2018-06-04 20:22] chrisvfritz commented on #1615
Any of the colors used in [the lifecycle diagram](https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram) can be used. I recommend using [Sip](https://sipapp.io/) or another color picker to pull those out.

Source Sans Pro

Nothing formalized, but please try to use similar patterns to the [other diagrams](https://github.com/vuejs/vuejs.org/tree/master/src/images) we're using. For example, try

[2018-06-05 02:35] stanleyxu2005 opened #1670 "Suggest to swap the bad practice and best practice"
Dear doc maintainers and community folks,

The document is excellent, it really helps me a lot to learn Vue quick. I have found one tiny thing that might can be better. In the code style section, for every single piece of style advise, the doc first shows a bad practice and then show a best practice. So before I see the correct way, I will first see a wrong way.

I'm not sure whether any of you ar

[2018-06-05 06:45] chrisvfritz commented on #1670
Thanks for the issue. 🙂 My original thinking was that people might not fully understand what's good about the good examples before seeing some counter-examples for context - but I admit I'm not aware of any data to back up this assumption.

I'm open to switching the order, but probably only if we can find evidence that it's generally a more helpful pattern, as this is the first time I've heard thi

[2018-06-05 08:31] stanleyxu2005 commented on #1670
Thank you for being open mind. There is no an absolute right or wring conclusion. Maybe create a switch at sidebar or somewhere, so we swap freely for different audience.

[2018-06-05 09:03] goelrohan6 commented on #1650
If highlighter.js doesn't work well can we not just embed the gist in the page directly @chrisvfritz?

[2018-06-05 15:21] chrisvfritz commented on #1650
I believe VuePress (which those docs are using) uses Prism underneath and it looks like an adequate syntax highlighter might exist for that. In that case, I'm open to switching to Prism for these docs, using [hexo-prism-plugin](https://github.com/ele828/hexo-prism-plugin). PR welcome is someone wants to take that on. 🙂

[2018-06-05 15:28] chrisvfritz commented on #1670
It'd be easy to resolve issues like this by adding more and more controls, but my worry is that we'd soon find ourselves in the situation below. 😅

![Your Company's App comic](http://web.archive.org/web/20110107072850im_/http://stuffthathappens.com/blog/wp-content/uploads/2008/03/simplicity.png)

[2018-06-05 15:30] chrisvfritz commented on #1650
The hexo-prism-plugin docs should give you a good place to get started. Feel free to reach out if you get stuck though. 🙂

[2018-06-05 18:18] bennettdams opened #1671 "Vue website grid component JSFiddle embedding broken"
The grid component example on the Vue website, which is embedded via JSFiddle, doesn't work anymore (404):

[https://vuejs.org/v2/examples/grid-component.html](https://vuejs.org/v2/examples/grid-component.html)
[GitHub link to this site](https://github.com/vuejs/vuejs.org/blob/master/src/v2/examples/grid-component.md)

However, the "real" JSFiddle link still works:  [https://jsfiddle.net/yyx990803

[2018-06-06 00:13] leopiccionia commented on #1659
Isn't it a "feature", as of #1140?

[2018-06-06 06:58] goelrohan6 opened #1672 "Class and style page in classObject, active should be string"
active is not a defined variable, it should be a string

![image](https://user-images.githubusercontent.com/14099191/41021730-14e6b1d4-6985-11e8-921d-709815cc920d.png)

[2018-06-06 07:04] goelrohan6 commented on #1672
#1673 I have created a pr, can someone please review :)

[2018-06-06 08:48] goelrohan6 opened #1674 "Components registration in local Registration unclear"
It is written to make local components as plain JavaScript objects, no example is given hence it makes it confusing.
When you define the component globally as Vue.component('foo', { /* ... */ }) in local it is no where written how to set the name of the component.

[2018-06-06 14:45] gertjanwytynck commented on #1357
@fabriziocucci Thanks for the cookbook Helped me a lot.

Just updating here that I had an issue with the cookbook. It stopped on `RUN npm install` with this error:

[code]

Not using the `alpine` image version worked or  adding this before `npm install`:

[code]

Founded this solution [here](https://github.com/nodejs/docker-node/issues/586)

[2018-06-06 15:12] fabriziocucci commented on #1357
@gertjanwytynck  I'm really glad to hear that! 😊

Regarding the issue, I've just tried to go through the cookbook one more time, replaying both the simple example and the real-world example but, for some reason, I can't seem to replicate the issue you mentioned.

Could you please help me figure out what's going on here? 😕

1. what's your dev environment (OS and Docker version)?
2. did that happen

[2018-06-06 15:51] gertjanwytynck commented on #1357
Well,

OS version: `10.13.4`
Docker version: `18.03.1-ce, build 9ee9f40`
NPM version: `6.1.0`

It happend on a real-world example. I have a fixed version in my package file (`"webpack-s3-plugin": "git+https://github.com/eyupci/s3-plugin-webpack.git#master"`). Maybe that is the reason?

No, only thing I've changed is the apk...

[code]

[2018-06-06 16:23] fabriziocucci commented on #1357
@gertjanwytynck thanks for your prompt feedback.

I was kind of hoping you deviated from the cookbook by changing the base images but it doesn't seem the case based on what you posted:

[code]

So, if you remove this:

[code]

 from your `Dockerfile` you get the error posted above, correct?

[2018-06-06 16:54] gertjanwytynck commented on #1357
@fabriziocucci you're welcome.

That is correct. Just removed those lines, and the error is raised again.

[2018-06-06 20:14] chrisvfritz commented on #1659
Yes, we just turned off the warning so people don't have to worry about it.

[2018-06-06 22:55] fabriziocucci commented on #1357
@gertjanwytynck thanks again.

My only (wild) guess at this point is that the issue could be related to one of the dependencies of your project.

May I ask you to clone [this](https://github.com/fabriziocucci/vuejs-cookbook-test) repository and try to build the Docker image using the Dockerfile of the real-world example? i.e.

[code]

[2018-06-09 07:42] YordanGeorgiev opened #1677 "the grid-template example could be made sortable via the keyboard easily"
Sorry for not doing this the official way ... not ready to get familiar with the whole process , install proj etc. , yet the grid-component could be done sortable via the keyboard by adding the ` tabindex="1" v-on:keyup.enter="sortBy(key)"` :

[code]

Of course the following css could be added tooo ...
[code]

In this way both the whole table is navigable with the arrows , and each column is sorta

[2018-06-10 02:27] rdytogokev opened #1678 "Meetups List Link"
I recently learned about [https://www.vuemeetups.org/](https://www.vuemeetups.org/).

It might be helpful to the community if this were listed on the website menu.
It might fit under the **Ecosystem** tab > **Help** section.

Just an idea.

Thanks for your time, and definately thanks for vue.

[2018-06-10 21:55] YordanGeorgiev commented on #1677
Also sorting does not properly work for floats :
[code]
Change to :
[code]

seems to fix it ...

[2018-06-10 22:27] YordanGeorgiev commented on #1677
https://jsfiddle.net/YordanGeorgiev/3bpkyc1v/9/

[2018-06-11 11:08] Gavriliuk opened #1684 "Inaccuracy in comparisons guide"
In the Russian version of this document (https://ru.vuejs.org/v2/guide/comparison.html) there are two versions of the same paragraph placed one by one, the old and the new one.

The topic is "Модульный (компонентный) CSS" ("Component-Scoped CSS")

The 1st paragraph looks as the prior verison of its English analog. It begins from the statement:

The 2d paragraph is very similar, it looks as the new

[2018-06-11 12:01] chrisvfritz commented on #1678
I like that! PR welcome. 🙂

[2018-06-11 12:24] chrisvfritz commented on #1684
Thanks for the notice! @gbezyuk

[2018-06-11 21:04] gbezyuk commented on #1684
@Alex-Sokolov

[2018-06-14 01:16] jsilvermist commented on #1631
Polymer 3 elements are written in JavaScript files.

Polymer 3 elements use the `import` syntax from ES Modules.

This has long been changed to be the Polymer CLI, and you can also use webpack or any other tool which fits your project.

[2018-06-14 10:30] #1684 closed

[2018-06-14 18:09] AlejandroMut opened #1687 "Become a sponsor button not working"
The "Become a sponsor" buttons are linking to a broken page: https://opencollective.com/vuejs/tiers/gold-sponsors/7/website

[2018-06-15 15:12] iphayao opened #1689 "Translate Docs to Thai - work in progress"
Hello Everyone,

I would like to start translate vuejs.org site to Thai and forked vuejs.org to th.vuejs.org project in vuejs-th organisation.

https://github.com/vuejs-th/th.vuejs.org

Welcome to contribute this translation.

Thank you,
Phayao

[2018-06-15 16:31] goelrohan6 commented on #1672
Yes @leopiccionia it can be written as [active] but the point is there is no variable active defined as 'some class'.

[2018-06-16 23:05] sdras commented on #1678
Thanks for this!

[2018-06-16 23:05] #1678 closed

[2018-06-16 23:13] sdras commented on #1637
This sounds wonderful! We'd love a PR for it. Thanks.

[2018-06-16 23:36] mattrothenberg commented on #1636
@sdras Thanks for both the feedback and your consideration. On second thought, I'm going to abandon this cookbook entry in favor of something like a technical blog post. Cheers!

[2018-06-16 23:36] #1636 closed

[2018-06-16 23:39] sdras commented on #1636
Sounds good, thanks!

[2018-06-17 13:29] sdras commented on #1206
Closing this due to inactivity, feel free to reopen.

[2018-06-17 13:29] #1206 closed

[2018-06-18 09:29] wuservices commented on #1162
@chrisvfritz I came across this discussion as a Vue newbie who's trying to follow the style guide. I had just converted all my tags to PascalCase, but then I realized nothing worked anymore.

It seems like the recommendation to use PascalCase for all Vue components can be tricky, because not all components will support it. The ugly thing here is that if that's the case, you could end up in a stick

[2018-06-18 17:48] #1357 closed

[2018-06-19 18:52] cukejianya commented on #1687
This is is a problem with open collective and is being worked on. https://github.com/opencollective/opencollective/issues/1127

[2018-06-19 22:19] shentao commented on #1645
Sorry for the delay. Just created a script that will inject a small notification on the pages where it is included. I will be adding PRs to the places mentioned by @Jinjiang over the next few days.
https://cdn.jsdelivr.net/gh/shentao/vuejs-outdated-docs-modal@v1.2/prompt.min.js

[2018-06-23 04:36] giodif commented on #720
Hi. I have run into a case where this might be pretty useful. I'm new to Vue, so there may already be a good solution for what I'm presenting. I looked through the docs and through issues and didn't see anything that might help.

I'm working on a project that uses canvas pretty extensively to draw [graphs](https://en.wikipedia.org/wiki/Directed_graph). I've worked with React where creating abstrac

[2018-06-24 19:17] ashtonpaul opened #1694 "Examples on website (https://vuejs.org/) do not work."
Looking for example usages of Vuejs (https://vuejs.org/v2/examples/). The examples do not seem to work. There are 3 links to view in `jsfiddle` but only one of them link to a legit fiddle. e.g of bad link https://fiddle.jshell.net/chrisvfritz/0dzvcf4d/.

The fiddle "Result" tabs do not seem to render properly.

[2018-06-25 16:40] nklayman opened #1696 "Nativescript marked as not ready in comparision with other frameworks"
In the [native rendering](https://vuejs.org/v2/guide/comparison.html#Native-Rendering) section of the comparison with other frameworks, nativescript is said to be coming soon.

This should be updated to show that it is ready for use in production.

[2018-06-25 21:26] anupamshah0480 opened #1697 "When linking my vue.js app with firebase and running it, I'm getting the following errors:"
index.esm.js?7e32:77 [2018-06-25T21:17:44.005Z]  @firebase/firestore: Firestore (5.0.4):
The behavior for Date objects stored in Firestore is going to change
AND YOUR APP MAY BREAK.
To hide this warning and ensure your app does not break, you need to add the
following code to your app before calling any other Cloud Firestore methods:

  const firestore = firebase.firestore();
  const settings = {/

[2018-06-26 07:44] mateuszRybczonek opened #1698 "[Cookbook] Practical use of scoped slots with GoogleMaps"
The base idea is to make it more clear for the developers how/why we can use scoped slots. As I noticed the idea behind the scoped slot is know for many devs, but there is a lack of practical examples on how we could use it. This example helped me and few other persons to understand this concept deeper, so I would like to share it with others :)

Details about the Value
This example shows a bit mo

[2018-06-26 14:28] chrisvfritz commented on #1631
Thanks! I just updated this, mostly just removing anything that's no longer true. 🙂 Let me know what you think.

[2018-06-26 14:31] chrisvfritz commented on #1672
Thanks, but the quotes are indeed unnecessary. Either will work, so we've opted for the shorter syntax. 🙂

[2018-06-26 14:31] #1672 closed

[2018-06-27 01:48] iphayao commented on #1689
@sdras How many % of translation that Vue team will be create sub-domain for translation?

[2018-07-03 04:07] nekomajin commented on #1327
Hello everyone.
Is there any "work-in-progress" that goes on? I want to help translate the german docs.

[2018-07-04 04:45] spyda247 opened #1702 "Argument Order in section v-for with an Object"
Current code example for "You can also provide second argument for key" produces the wrong output.
Current Code:
&#x3C;div v-for=&#x22;(value, key) in object&#x22;&#x3E;
{{ key }}: {{ value }}
&#x3C;/div&#x3E;
Expected Output:
firstName: John
lastName: Doe
age: 30

Actual Output
John: firstName
Doe: lastName
30: age

Suggested correction:
You can also include a key as first argument

&#x3C;div v-f

[2018-07-06 01:46] ChrisDillinger opened #1704 "Possible documentation error in List Move Transitions section for list-complete demo"
I'm working my way though the Transitions and Animations documentation, and I have a hunch that there is a missing class in the list-complete example CSS under this section here: https://github.com/vuejs/vuejs.org/blob/master/src/v2/guide/transitions.md#list-move-transitions

This section discusses the v-move class and shows an example using transition-class-name-move and then it supposedly shows

[2018-07-06 17:37] d-pollard commented on #1702
Hi @spyda247 -

Are you sure you were using `vue`?

My code pen is showing that this works as expected. See it here: https://codepen.io/d-pollard/pen/VdJNMr

I know that angular has the value and key flipped, could you have possibly been using that?

[2018-07-06 19:41] ChrisDillinger commented on #1704
I also don't know how to Label this?

[2018-07-08 09:13] thilobillerbeck commented on #1327
Hey @nekomajin,

I am busy with my study at the moment, but this repo isn't closed or cancelled. Feel free to participate! 😉

[2018-07-10 07:00] giorgi94 opened #1707 "The client-side rendered is not matching server-rendered"
Hi, I am writing website with using vue and ssr, and console logs this warning

`[Vue warn]: The client-side rendered virtual DOM tree is not matching server-rendered content. This is likely caused by incorrect HTML markup, for example nesting block-level elements inside <p>, or missing <tbody>. Bailing hydration and performing full client-side render.`

And when I display only server side, it mat

[2018-07-10 07:09] LinusBorg commented on #1707
Hello ..

Thank your for your interest in this project.

However, your issue is a usage/support question, and the issue tracker is reserved exclusively for bug reports and feature requests (as outlined in our [Contributing Guide](https://github.com/vuejs/vue/blob/dev/.github/CONTRIBUTING.md)).

We encourage you to ask it on the [forum ](http://forum.vuejs.org) , [Stack Overflow](http://stackoverfl

[2018-07-10 07:09] #1707 closed

[2018-07-15 21:45] chrisvfritz commented on #720
@giodif This kind of pattern is actually very doable with Vue currently - I use it quite often. 🙂 You can see a [simple example here](https://codesandbox.io/s/387w14mp1q) using MapboxGL, though in a real-world context I like to use `provide`/`inject` instead of `$parent` for sharing context with descendent components.

[2018-07-15 21:50] chrisvfritz commented on #1694
I've confirmed all the examples seem to be working - this may have been a temporary error on jsfiddle's end. Happy to reopen if the problem persists for you though. 🙂

[2018-07-15 21:50] #1694 closed

[2018-07-16 16:00] giodif commented on #720
@chrisvfritz Thanks for the example, makes sense.

[2018-07-17 20:27] #1697 closed, assigned to nobody

[2018-07-17 20:38] chrisvfritz commented on #1689
@iphayao There's not a definitive rule, but we like people to be near completion when we publish, so that a clear commitment to keeping up the translation has been demonstrated. 🙂

[2018-07-17 20:41] chrisvfritz commented on #1702
Closing due to inactivity, but happen to reopen if there turns out to be a problem.

[2018-07-17 20:41] #1702 closed

[2018-07-19 07:32] chrisvfritz commented on #1645
This has now been fixed. 🙂 Thanks @shentao!!

[2018-07-19 07:32] #1645 closed

[2018-07-19 09:55] LukeusMaximus opened #1715 "https://vuex.vuejs.org gives 404s for every asset."
Every asset under https://vuex.vuejs.org/assets/ returns a 404 for me. The HTML file loads however. This wasn't the case yesterday.

[2018-07-19 10:12] shentao commented on #1645
At last 😞

[2018-07-19 10:30] meteorlxy opened #1716 "Style Guide: [Component/instance options order] misses provide/inject"
Miss guide for `provide/inject` options

https://github.com/vuejs/vuejs.org/blame/master/src/v2/style-guide/index.md#L1476-L1533

[2018-07-20 07:43] chrisvfritz commented on #1715
@LukeusMaximus While `vuex.vuejs.org/assets` 404s, because no page exists there, I'm not seeing the referenced assets themselves 404. Is that the case for you?

[2018-07-20 08:12] LukeusMaximus commented on #1715
Ok, I've resolved this with a cache clear after discovering it worked fine in an incognito tab. Did you add that service worker recently? I am otherwise baffled.

[2018-07-20 18:35] chrisvfritz commented on #1715
I don't believe it was recently. Weird! 😄 Thanks for reporting though and we'll definitely reopen if it happens again.

[2018-07-20 18:44] LukeusMaximus commented on #1715
Ok, so this has actually recurred. A whole bunch. Every time I open one of the links in the sidebar I get the same thing: an unstyled page with no JS. The network tab of chrome devtools tells me that all css and js resources (under that `/assets` path) have responded with 404. However, after doing an "Empty cache and hard reload" the problem disappears. The problem promptly reoccurs when I open a

[2018-07-22 20:46] dpisarenko commented on #1327
I also started to translate Vue.JS docs to German and just finished translating the [API page](https://github.com/dpisarenko/vuejs.org/blob/de/src/v2/api/index.md). The current version is located in branch `de` of [this repository](https://github.com/dpisarenko/vuejs.org/tree/de).

Suggestions and improvement proposals are welcome.

[2018-07-23 08:58] LukeusMaximus commented on #1715
I've captured both good and bad HAR files. Is there somewhere I can upload these for you (preferably somewhere private)?

There's one thing I've noticed in the bad HAR: the requests have some odd headers starting with ":" such as ":scheme", ":method", and ":authority". Looking at the good HAR, there are far fewer headers involved on the same requests. Also the URL paths are slightly different for

[2018-07-25 08:08] tobiasbeck opened #1721 "Wrong documentation for .sync modifier"
There is an error in the vue.js documentation for the .sync modifier you can find here:
https://vuejs.org/v2/guide/components-custom-events.html#sync-Modifier

It states, that you should use a kebab-case event name for the .sync event:

This is not correct. because the event must be camelCased to work properly.

[2018-07-25 11:43] LukeusMaximus commented on #1715
Aaannnddd it's gone again. For good, I hope.

[2018-07-25 11:43] #1715 closed

[2018-07-25 23:09] DrLeeroyPhD opened #1724 "Broken Code Example in form-validation page"
[https://vuejs.org/v2/cookbook/form-validation.html](https://vuejs.org/v2/cookbook/form-validation.html)

This one's not a big deal and I'd be happy to fix it.
At the link shown above, the second code example says

[code]

The key spot here is the
[code]
`type="text"` is missing its closing quotation mark.

Again, not a big deal, but for the convenience of others using the page, I'd be happy to fi

[2018-07-25 23:11] sdras commented on #1724
Sure! We'd be happy to accept a PR for that. Thanks!

[2018-07-26 19:14] chrisvfritz commented on #1715
Very strange! I wonder if there was some extension that updated to start causing the problem, then they released a fix?

[2018-07-27 06:32] CoffeeandTea opened #1726 "Inaccuracy in comparisons guide"
我就觉得官方文档中 “深入响应式原理”一章中，对于数据绑定的解释那里表达的不够清楚，明白。文档上是这么说的：当你把一个普通的 JavaScript 对象传给 Vue 实例的 data 选项，Vue 将遍历此对象所有的属性，并使用 Object.defineProperty 把这些属性全部转为 getter/setter。

什么是getter/setter？   翻阅书籍，书中说是访问器属性的其中两个特性。意思是他是一个属性的特性，而不是属性本身。（因为访问器属性还有另外两个跟数据属性相同的特性，configbale  evaluable）,所以你们想表达的是不是：当你把一个普通的 JavaScript 对象传给 Vue 实例的 data 选项，Vue 将遍历此对象所有的（数据）属性，并使用 Object.defineProperty 把这些（数据）属性全部转为访问器属性。   这个意思？

[2018-07-29 03:15] njwest opened #1728 "[HTML/CSS] cli.vuejs.org Navbar Search Unusuable in Certain Window Widths"
## Navbar Search Position Issue

In the [cli.vuejs.org](https://cli.vuejs.org) subdomain, a bit below 1100px browser width (once the nav search starts to cover the nav brand logo, another usually undesirable behavior) and within the Md breakpoint, the Search results are unseeable (as they start to the left off-screen)

Screenshots:

<img width="1010" alt="screen shot 2018-07-29 at 11 06 05 am" src

[2018-07-29 03:21] njwest opened #1729 "[HTML/CSS] cli.vuejs.org Nav Links Pushed Below Navbar Border, Over Logo"
## Nav Links Pushed Below Navbar Border

On Medium to kind-of-Large screen sizes, the nav links on cli.vuejs.org do the following:

1. Get pushed below/slightly onto the navbar border into page content (700px-ish to 800px-ish):

<img width="792" alt="screen shot 2018-07-29 at 11 18 15 am" src="https://user-images.githubusercontent.com/3742496/43362610-50636aac-9321-11e8-94bd-9319636d680a.png">

2.

[2018-07-29 14:36] nabrown opened #1730 "Give Functional Components their own page in the documentation under "Components In-Depth""
Currently, all of the information for Vue functional components lives on the "[Render Functions & JSX](https://vuejs.org/v2/guide/render-function.html)" page. I think they deserve their own dedicated page in the docs for 3 reasons:

- It is not required to build functional components with render functions. You can use template-based single file components with the `functional` keyword. I think thi

[2018-07-30 10:08] chrisvfritz commented on #1724
Merged the fix! Thanks @DrLeeroyPhD.

[2018-07-30 10:08] #1724 closed

[2018-07-30 10:17] chrisvfritz commented on #1726
@Jinjiang Would you say this is an issue with the Chinese docs or does this apply to the English docs as well?

[2018-07-30 10:52] chrisvfritz commented on #1728
This is actually an issue in VuePress, which we're [working on here](https://github.com/vuejs/vuepress/pull/266) so I'll close this since there's nothing we can do from this repo. 🙂

[2018-07-30 11:12] chrisvfritz commented on #1730
You've convinced me. 🙂 As an aside, I'm also considering splitting up the render functions page into several pages, but let's do this first. Do you want to get us started on it, or would you prefer I write the first draft?

[2018-07-30 17:03] nabrown commented on #1730
Excellent. I’d love to take a first stab at it.
On Jul 30, 2018, 7:12 AM -0400, Chris Fritz <notifications@github.com>, wrote:

[2018-08-01 05:21] Ermish opened #1735 "List rendering documentation needs v-model example"
The documentation doesn't appear to include a clear example to properly use `v-for` in combination with a child `v-model`.

Example:

[code]

[2018-08-02 17:45] #1726 closed

[2018-08-02 17:45] chrisvfritz commented on #1726
@Jinjiang Thanks! Just added the link. 🙂

[2018-08-03 06:15] chrisvfritz commented on #1735
Thanks for the issue! 🙂 There's not actually anything different about using v-model when it's inside of v-for. What information do you feel like you were missing?

[2018-08-04 03:13] sdras commented on #1698
This is s a great use of scoped slots! We'd love an entry like this.

[2018-08-05 17:19] autumnwoodberry opened #1739 "Grid component example uses a confusing prop naming scheme."
The [grid component example](https://vuejs.org/v2/examples/grid-component.html) has a `demo-grid` component that accepts a prop named as `data` which could be quite confusing, as witnessed in the forum post: https://forum.vuejs.org/t/help-understanding-example-grid-component-data/40161

[2018-08-06 13:05] nabrown commented on #1730
From what I've learned there are two main categories of functional component. One is the "wrapper or "higher-order" component. I'm searching for a term for the _other_ type, the simple repeated pieces of UI like headings, buttons, form inputs. Something better than "dumb" components, which is what I've been calling them so far. Is there a term already? Anyone have any ideas?

[2018-08-07 14:41] leopiccionia commented on #1735
@chrisvfritz I think that a common gotcha is that `v-model` should refer to a property of an object. It won't work with an array of primitive values -- it will actually trigger a compilation error, but I don't remember being warned by the docs.
https://jsfiddle.net/leopiccionia/e0gqa4jr/

[2018-08-07 14:48] leopiccionia commented on #1730
@nabrown I think "presentational components" is currently preferred instead of "dumb components": https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0

[2018-08-08 19:09] ulivz commented on #1728
Fixed it at https://github.com/vuejs/vue-cli/pull/2116.

[2018-08-09 05:52] #1728 closed

[2018-08-09 12:45] lordfuoco commented on #1721
Also discussed here https://github.com/vuejs/vue/issues/6428
and here: https://github.com/vuejs/vue/issues/8244

[2018-08-10 03:19] Gxw521 opened #1744 "[中文文档]组件注册中组件名大小写，使用 PascalCase翻译错误"
当使用 PascalCase (驼峰式命名) 定义一个组件时，
应该改为PascalCase (帕斯卡命名)

[2018-08-11 15:06] fidele137 opened #1746 "[ACCESSIBILITY]: The docs don't use legible font sizes"
I had trouble reading the docs and after running a Lighthouse audit, I found that the text's font-size was too small in general. This makes the content difficult to read, especially for those with visual impairment.
Thanks!

[2018-08-13 18:16] bwokich opened #1751 "Security Policies"
I'm doing due diligence on Vue for my company and we are looking for some sort of security protocol documentation.  Here's Angular's https://angular.io/guide/security

One of these would make our path to adopting the framework easier.   I'm sure we're not the only company that would find this useful.  The person I spoke to on discord said that I could at Chris, so I hope this is the right person!

[2018-08-13 18:47] bwokich commented on #1751
Here's examples from other frameworks:
Angularjs - https://angular.io/guide/security
React - FB has a bounty program https://www.facebook.com/whitehat/
Vue - **MISSING**
Emberjs - https://www.emberjs.com/security/
Meteor - https://guide.meteor.com/security.html
https://docs.djangoproject.com/en/2.1/internals/security/

[2018-08-13 21:50] TheLarkInn commented on #1751
Do you have a design that you have preferred the most from these pages. Perhaps this can help invoke some inspriation on where the Vue team wants to iterate from.

[2018-08-14 15:57] enomado opened #1752 "Google gives results on user language, not the requested language"
What i've got:
![image](https://user-images.githubusercontent.com/707007/44101849-01d9078e-9ff1-11e8-8bfa-42508a6e8d60.png)

What was expected:
Page in requested language e.g. in English [https://vuejs.org/v2/guide/components.html](https://vuejs.org/v2/guide/components.html)

Possible caused by
![image](https://user-images.githubusercontent.com/707007/44101711-b6a0880a-9ff0-11e8-9c9e-80cee4beccd0.

[2018-08-14 16:07] bwokich commented on #1751
I would promote similar to AngularJS' security page.  React's bounty program is probably unrealistic for Vue.   AngularJS puts forth basic web-security practices and has a pieces that are framework-specific.

[2018-08-22 03:27] chrisvfritz commented on #1751
Thanks. 🙂 I'm designing this page now and should have something shortly.

[2018-08-22 09:35] honzie commented on #1308
@sdras: I opened a PR with a fix for this margin issue. Please let me know if there are any additional steps to help out. Hopefully this solution jibes well with the rest of the theme.

[2018-08-22 09:39] JerryYuanJ commented on #1744
@Gxw521 `PascalCase` 又称为大驼峰命名，这不是翻译错误。

[2018-08-22 09:42] JerryYuanJ opened #1762 "E2E test with nightwatch in vue applications"
Use `Nightwatch.js` as an e2e test framework for Vue applications.

[2018-08-22 09:51] #1762 closed

[2018-08-22 09:57] Justineo commented on #1744
中文翻译的问题可以发到 vuejs/cn.vuejs.org 项目。谢谢！

[2018-08-22 09:57] #1744 closed

[2018-08-22 14:41] lzhoucs commented on #658
It seems vuetify is also one of them: https://github.com/vuetifyjs/vuetify/blob/dev/src/components/VDataTable/mixins/body.js#L9

[2018-08-22 16:54] chrisvfritz commented on #1751
@bwokich I have a draft for a security guide ready at #1760. Feedback is very welcome. 🙂

[2018-08-22 17:51] chrisvfritz commented on #1735
@leopiccionia Hm, I'm a bit torn here, because this isn't actually specific to Vue here - it's just the way JavaScript works. For example, in this code:

[code]

You wouldn't expect the `list` array to be affected, because `item` stores a value rather than a reference (only arrays and objects are passed by reference). I'm going to close this for now, because I'd like to steer away from teaching mo

[2018-08-22 17:51] #1735 closed

[2018-08-22 18:09] #1721 closed

[2018-08-22 18:10] chrisvfritz commented on #1721
Just updated for now, but once [this is merged](https://github.com/vuejs/vue/pull/8297) and released, I'll be changing it back. 🙂

[2018-08-22 18:14] #1746 closed

[2018-08-22 18:14] chrisvfritz commented on #1746
Thanks! Just fixed this. 🙂

[2018-08-22 19:58] nabrown commented on #1730
Hi @chrisvfritz I'm sure you're busy, just wanted to let you know I did a PR for this issue -- the functional components documentation changes. If there's anyone else I can/should pull in to review, let me know. (This would be my first contrib so not sure how process works). Hope you're enjoying summer!

[2018-08-23 05:53] JerryYuanJ opened #1764 "b"
b

[2018-08-23 05:53] #1764 closed

[2018-08-23 07:33] deltragon opened #1765 "Documentation advises to use deprecated keyCode attribute"
The documentation on Event Handling, specifically on [key modifiers](https://vuejs.org/v2/guide/events.html#Key-Modifiers) advises to use the
[deprecated](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode) keyCode attribute to detect pressed keys. Only as an afterthought/convenience method it mentions that the KeyboardEvent.key aliases can be used as well.

Ideally the documen

[2018-08-23 08:50] BlitZz96 opened #1766 "One root element inside template v-if example"
In the [conditional](https://vuejs.org/v2/guide/conditional.html#Conditional-Groups-with-v-if-on-lt-template-gt) part of the documentation, you are applying a `v-if` on the `<template>` tag.

For the sake of the example, I agree. But since vue 2.0, you can only have one root element inside the template, or am I mistaking?

[2018-08-23 16:59] kinsomicrote commented on #1766
I think this example assumes that the `<template>` is not the root element. Something like this:

[code]

[2018-08-23 19:53] BlitZz96 commented on #1766
That seems like weird semantics to me, but I suppose you can be right.
I have not observed nested template elements in the docs. However, it's crowded with single root template examples.

I just find this doc example a bit misleading.

[2018-08-24 13:02] leopiccionia commented on #1766
`<template/>` is a HTML5 ordinary tag ([see spec](https://html.spec.whatwg.org/multipage/scripting.html#the-template-element)), just like `<script/>` and `<style/>`,  it's **not** Vue-specific.

On a SFC, Vue uses the top-level `<template/>` to find the root element of component and, currently, you can have only one root element.

Inside the template itself, `<template/>` is more likely to be foun

[2018-08-25 07:18] xinxinxiangrongi opened #1768 "Inaccuracy in comparisons guide"
aa

[2018-08-25 07:40] #1768 closed

[2018-08-26 14:14] csigmanek opened #1772 "vetur support for type definitions"
Hello, as far as I know the official supported library is vetur in VSCode. I want to see type definitions of modules in the editor. So perhaps you can add it to vetur or recommend an extension to install.
I wrote
[code]

And got the error message: Argument of type '{ to: string; }' is not assignable to parameter of type 'RawLocation'.  Object literal may only specify known properties, and 'to' doe

[2018-08-26 18:30] moumen-soliman commented on #1671
Actually, the example still exists and live, what's your browser?

[2018-08-27 07:12] meetzaveri opened #1773 "Core search functionality not working"
### What I got?
No results as it displayed the previous content(default one).

### What was expected?
According to keywords as an input in search, the results should be displayed with content containing those keywords.

### Engine
Chrome - Version 68.0.3440.106

[2018-08-27 08:31] BlitZz96 commented on #1766
I was not too familiar with the html5 tag `<template>`. However, the specs makes sense to the example indeed.

[2018-08-27 08:31] #1766 closed

[2018-08-27 20:05] Haroenv commented on #1773
I looked at the search settings, and it seems like the version doesn't get picked up as a facet anymore, which means that there's no results; since the search is filtered on "v2". I'm not sure which change this could be, both the Algolia settings haven't been changed in a while, neither has this docs site.

config here: https://github.com/algolia/docsearch-configs/blob/master/configs/vuejs.json

c

[2018-08-28 04:14] moumen-soliman commented on #1773
@Haroenv I think it's related to query function, If you looked at URL there is no query after hit enter in search, So I think there is no communication between input field and a component of search or something like that, If problem in configuration at least query will print in URL

[2018-08-28 04:45] moumen-soliman opened #1775 "OpenCollective Sponsors not displayed"
OpenCollective Sponsors request not working, return 404 not found or access for 403: Access Forbidden, in homepage

[2018-08-28 07:02] s-pace commented on #1773
Sorry for the wrong update.

Fixed by https://github.com/algolia/docsearch-configs/commit/b8bc683b80cc5f2816c9b2e2f855f67b8bf1012e

@moumen-soliman We do a query at every keystroke. You do not need to press enter.

[2018-08-28 07:05] meetzaveri commented on #1773
Okay, so now I am closing this issue as problem is fixed. Tested search functionality and its working perfect as before!

[2018-08-28 07:05] #1773 closed

[2018-08-28 08:48] opmic opened #1776 "Inaccuracy in comparisons guide"

[2018-08-28 10:37] Justineo commented on #1776
Can you elaborate on this please?

[2018-08-29 03:17] Justineo commented on #1776
Closing this, until more detailed information provided.

[2018-08-29 03:17] #1776 closed

[2018-08-29 16:07] electric-skeptic opened #1780 "Conditional Rendering starts with comparison to unrelated technology"
From: https://vuejs.org/v2/guide/conditional.html#v-if

Beginning an explanation of functionality by comparison with unrelated, possibly unfamiliar technology may lead to more mystification than it alleviates.
Direct description of the operating principle, perhaps followed by a salient comparison with a related technology to mention any distinguishing behaviour may be more helpful

[2018-08-29 17:43] ohenepee opened #1781 "Scoped Slots section uses <template> in a different way and doesn't explain why"
(Here)[https://vuejs.org/v2/guide/components-slots.html#Scoped-Slots] as a Vue beginner, I instantly got confused as to what I might have skipped... we used `<template>` earlier in **List Rendering** but it was as a replacement for wrapping multiple items. So how come the example in the link I included has no `v-for` ?

[2018-08-29 19:30] webnard opened #1782 "Suggestion: place download link on introduction page"
Downloading Vue requires navigating through three pages: from the home page to _Get Started_, and from _Get Started_ to _Installation_.

It would be nice to have a download link and the URL of a CDN right there on the home page, similar to what other JS library hosts are doing (e.g., Bootstrap, JQuery, Rivets).

[2018-08-30 13:41] ErickPetru opened #1783 "Change ecosystem's submenu "Webpack Template" to "Vue CLI""
With the new [Vue CLI 3](), what's the relevance of Webpack Template in the ecosystem menu?

https://github.com/vuejs/vuejs.org/blob/a9af183c91fee41ba4ebcbbf36c011f01dfa24f2/themes/vue/layout/partials/ecosystem_dropdown.ejs#L14

I suggest this menu item changes to:

[code]

[2018-08-30 13:45] kashwa commented on #1782
### Totally agree,
 i had to download it to work on my project. but as a UX i gained from that situation,
 there is no 'manage for clicks', it took me three navigation and some time to get where i want.

[2018-08-30 14:53] ErickPetru opened #1784 "Discrepancies in CDN use between "Installation.md" and "Comparison.md""
The `installation.md` recommends linking to a specific version when using Vue from a CDN:

https://github.com/vuejs/vuejs.org/blob/49ffe8eafa38ba59033bbe50efb29b0bd3abd29b/src/v2/guide/installation.md#L40

But `comparison.md` still shows the URL without versioning:

https://github.com/vuejs/vuejs.org/blob/49ffe8eafa38ba59033bbe50efb29b0bd3abd29b/src/v2/guide/comparison.md#L114

I believe it can co

[2018-08-30 20:46] dohomi commented on #658
It would be great to document it - just found out about it on accident. Very useful helper for JS based components

[2018-08-31 02:51] leopiccionia commented on #1781
`<template/>` is not Vue-specific, but part of [HTML5 spec](https://html.spec.whatwg.org/multipage/scripting.html#the-template-element), where it defines a reusable content fragment.

In Vue, it's often combined with structural directives like `v-if` ([here](https://vuejs.org/v2/guide/conditional.html#Conditional-Groups-with-v-if-on-lt-template-gt)) and `v-for` ([here](https://vuejs.org/v2/guide/l

[2018-09-03 02:15] JinXJinX opened #1786 "vuejs.org home page contains a broken img"
snapshot
https://drive.google.com/file/d/1gZSOEXKtxtsbQd9UNDE2LafK7z-kCsNx/view?usp=sharing

[2018-09-03 18:18] estyh opened #1787 "The example given for "Disabling Attribute Inheritance" doesn't work"
The docs show an example for how to disable attribute inheritance (https://vuejs.org/v2/guide/components-props.html#Disabling-Attribute-Inheritance) - I tried, and it doesn't work!
In this example, the placeholder is passed to the input, but class is not, it is applied to the root-element, label. Are the docs wrong, or is something broken in Vue?
As a side note, the example uses a label prop for t

[2018-09-03 20:40] ErickPetru commented on #1780
I believe that the comparison makes any sense in this case, since many new users come from templating systems based on handlebars. But I agree that the order matters here, and the comparison could come after the explanation of Vue way like @electric-skeptic suggested.

[2018-09-03 21:49] leopiccionia commented on #1787
From [docs](https://vuejs.org/v2/api/#inheritAttrs):

Perhaps this note could appear in guide, too?

[2018-09-04 19:29] jardakotesovec commented on #751
@chrisvfritz @wujekbogdan Interestingly enough I ran into this recent [post](https://vuejsdevelopers.com/2018/04/09/single-page-app-seo/) testing that async renders works fine.. at least with google bot..  so might worth to reopen?

[2018-09-05 12:39] isatrio commented on #1522
Hi guys, can I help you with translation. I wan to start to translate also, but if you guys have started it out, let me join.
@adi88nugroho look like the repo is not active, and feels like forking from someone that not active also. still far from finish.

[2018-09-05 21:47] mrcsmcln commented on #751
I know this is only anecdotal, but I launched a Vue Router + Fetch + WordPress REST API site about a month ago and was required to sign up for a prerendering service due to poor SEO. Just prior to launching this site, I did some quick tests using the same technologies and Google crawled it just fine. Not sure if it has to do with the number of async requests, the domain from which I was fetching,

[2018-09-06 07:06] isatrio commented on #1522
Hi @chrisvfritz,

May we retake this. look like not active anymore. We are at gresikDev (developer community in Gresik) has a program to translate for some framework documents. We will start with this if we can take over.

[2018-09-06 21:07] alrdytaken opened #1789 "Styleguide: Priority A Rules: Private Property Names"
https://vuejs.org/v2/style-guide/#Private-property-names-essential

This rule isn’t completely clear to me, probably because it revolves around the term **custom private properties**, for which no defintion can be found on vuejs.org

So basically it’s straight forward. Applying mixins is simply merging two objects so we need to take care that properties/methods are not overwritten unpredictably. T

[2018-09-10 07:54] maxirozay opened #1793 "Cookbook/Client-side Storage example description doesn't correspond to the example"
At the end of the base example it says:

But in the example the mounted method only do:
[code]
The mounted method only check if the values exist, it never "make a logical call on whether or not to store the values again".

[2018-09-10 08:37] LinusBorg commented on #1793
Would you be so kind and link to the section that you are talking about? We don't haven't memorized very section of the documentation, and I have no idea what you are talking about right now.

[2018-09-10 08:56] LinusBorg commented on #1789
Since there are no truly private properties in Javascript, people mostly "simulate" them by using prefixes, usually an underscore. You will find quite some of those private properties on your component instances, Vue's own internal private properties. (i.e. `_vnode`).

A "custom" private property then, is one that *you* are adding to the component instance, not *Vue*.

b)  (but it's a method, not

[2018-09-10 09:44] maxirozay commented on #1793
Sure it's in the cookbook/client-side storage https://vuejs.org/v2/cookbook/client-side-storage.html. Go at the last paragraph of the base example.

[2018-09-10 19:38] alrdytaken commented on #1789
Putting a function in the module scope will make them kind of like private.

myGreatMixin.js
[code]
So I think the example is irritating for people using ES6/Node modules. Changing it to an example with a public computed property using a non-public computed property would fit all.

[2018-09-10 19:54] LinusBorg commented on #1789
That's true, totally agree.

Would you be up for a PR?

[2018-09-10 19:56] LinusBorg commented on #1787
Indeed. And the example should not use `class`, of course.

[2018-09-10 19:58] LinusBorg commented on #1783
Done with #1763

[2018-09-10 19:58] #1783 closed

[2018-09-10 20:02] LinusBorg commented on #1772
This is the repository for the vuejs.org website.

It's not the right place to ask for support.

Please use forum.vuejs.org or chat.vuejs.org

[2018-09-10 20:02] #1772 closed

[2018-09-11 07:46] alrdytaken commented on #1789
Sure.

[2018-09-13 07:28] maxirozay commented on #1793
@cfjedimaster should you change your CodePen example or should we change the description?

[2018-09-13 13:35] maxirozay commented on #1793
Ok I can do that.

[2018-09-15 21:00] mateuszRybczonek commented on #1637
@mazipan, I recently committed an article on the same topic (https://medium.com/@m.rybczonek/lazy-loading-images-with-vue-js-directives-and-intersectionobserver-d0eb390cad9).

If you want you could base on that one. Also if you feel that you don't have resources to push it forward I can also take it from here and create a PR.

Let me know how do you feel about it?

[2018-09-16 11:49] cxw42 opened #1799 "VNode is used in the Guide before it is defined"
Brand-new to Vue, and I'm reading the Guide front to back.  The term `VNode` is used in the [Custom Directives](https://vuejs.org/v2/guide/custom-directive.html) page.  However, it is not defined until later in the Guide, in the [Render Functions & JSX](https://vuejs.org/v2/guide/render-function.html) page.  I see that was mentioned in [#319 (comment)](https://github.com/vuejs/vuejs.org/issues/319

[2018-09-16 15:06] #1786 closed

[2018-09-17 07:26] maxirozay commented on #1793
Done in #1797

[2018-09-17 07:26] #1793 closed

[2018-09-17 17:18] Made-of-Clay commented on #1716
**6. Composition** seems to make sense for `inject` at least. Maybe `provide` could go with `methods` in **10. Non-Reactive Properties**?

[2018-09-17 17:58] shentao opened #1802 "Misleading description on how $emit works in the guide"
Noticed a few times already that there is a misconception around the way `this.$emit` works. The source of the problem might come from this line:

found here: https://vuejs.org/v2/guide/components.html#Sending-Messages-to-Parents-with-Events

I understand that this might be there to make it slightly easier to grasp the idea of `props down, events up` but I’m not sure if this is worth it.

The issu

[2018-09-17 22:41] wuservices commented on #1716
👍 I think that makes more sense than my thoughts. Good ideas.

[2018-09-18 10:18] phanan commented on #1799
Would a link e.g. [VNode](https://vuejs.org/v2/guide/render-function.html#The-Virtual-DOM) suffice?

[2018-09-18 12:33] cxw42 commented on #1799
It would certainly be better than nothing :) .  Again, as a rank newbie, I think I would benefit from both the link and a brief intro at the top of the section.  How about something like the below?  (I'm happy to submit a PR if you wish.)

[2018-09-18 12:53] phanan commented on #1799
I would actually prefer a `p.tip` after the `update` hook (where we first mention the term), which may simply say

[code]

[2018-09-18 13:12] cxw42 commented on #1799
You're the expert, so I defer to your judgment.  Thanks!

[2018-09-19 22:58] DavidRueter opened #1807 "Clarify documentation in Props / Prop Casing"
I now understand that when passing props to components the HTML attributes must be kebob-case such as `<my-component my-prop="abc"></my-component>`

At the same time, in Javascript props may be (should be?) named in camelCase such as prop: `['myProp']` and must be referenced in JavaScript via camelCase such as `x = this.myProp`

The documentation at https://vuejs.org/v2/guide/components-props.html

[2018-09-27 10:28] arre-qp-db opened #1809 "Example for Shared Store Doesn't work."
http://jsfiddle.net/50wL7mdz/752294/

[2018-09-27 10:40] Justineo commented on #1809
Hi, can you point out where does this fiddle appear in the docs?

[2018-09-27 13:36] raslan3333 opened #1810 "."
https://vuejs.org/v2/examples/
https://codepen.io/renaudtertrais/pen/hwrqH

[2018-09-27 13:44] LinusBorg commented on #1810
I don't see any benchmarks? What specifically are you referring to?

Also, how does that relate to this repository, which is about Vue's documentation?

[2018-09-27 14:27] #1810 closed

[2018-09-28 01:18] leopiccionia commented on #1809
You should use `{{ sharedState.message }}` instead ([see fiddle](http://jsfiddle.net/leopiccionia/q5mL7xo6/)).

@Justineo It appears in docs here: https://vuejs.org/v2/guide/state-management.html#Simple-State-Management-from-Scratch

[2018-09-28 02:27] leopiccionia commented on #1810
That specific Vue example seems slow because it's using a 300ms debounce.

[2018-09-28 07:44] #1809 closed

[2018-09-28 08:19] LinusBorg commented on #1810
...which is a good thing to do in many situations.

[2018-09-29 22:55] HusamIbrahim commented on #1704
I also noticed the same thing when I was reading this part of the docs. The provided example does work as intended but it does not employ `v-move` as it set out to demonstrate. Maybe @chrisvfritz  can clarify this?

[2018-09-30 08:07] cloudsbird commented on #1522
Hi everyone looks like no one would like to start translate again. So, I am trying to start and translate it from today. you can fork or see my progress at https://github.com/cloudsbird/vuejs.org if you interest in it.

[2018-09-30 12:40] ChrisDillinger commented on #1704
@HusamIbrahim Glad I mentioned something, sometimes idk if I'm being too incompetent!

[2018-09-30 21:09] HusamIbrahim commented on #1704
I also noticed that `position: absolute` is required in `v-leave-active` for list move transitions to work correctly. However this isn't made clear in the docs.

[2018-10-02 12:22] CoffeeandTea opened #1818 "why can't i use camelCase in html (or as you say 'Non-string template')?"
in your doc you just tell me since html is not sensitive about Capitalization, so you should turn all the

camelCase props into kebab-case......What??  i am just confused about this. and i'v found many people

are confused with this too.    i can't find any logic in this pice of statement.  as i understanding, since the html is not sensitive about the Cap, so we can write it any way~😂

[2018-10-02 13:31] Justineo commented on #1818
The tag names and attributes you declared in your in-DOM template will always be converted to lowercase by the browser no matter which case you write in.

[code]

From JavaScript you will only see a `mycomponent` element with a `fooBar` attribute. So a component expecting a prop `fooBar` will never get the value you provide.

[2018-10-02 13:31] #1818 closed

[2018-10-03 07:42] ivansieder opened #1819 "[cookbook] Adding http handler for handling backend auth in the background"
For some applications (which make use of JWTs), we are using fetch and custom Vue instance methods to handle fetch requests and re-authentication in the background, so in case the access token has expired, the application will automatically retry fetching a new access token with the refresh token, if for a request it gets a 401. If that request was successful, it will retry fetching the resource o

[2018-10-03 08:14] ivansieder commented on #1807
Hi @DavidRueter, attributes must be kebab-case only, if you are using in-DOM-templates (for example if you include Vue as a script tag and actually define component templates in the DOM with <template></template>). If you use string templates (that would be using the template property of an instance and assigning a string to it or using a build system like vue-cli does with webpack, which "loads"

[2018-10-04 12:50] AlexPitigin opened #1823 "v-for alternative"
Hi all. In most of all case this directive work fine. But i have 10k+ elements. And v-for has frieze. I'll tried to create custom directive with same functional.  But this is not possible with the current directive functionality.

What i guess: add some property to 'v-for' for asynchronous appending to DOM.
P.S. Sorry for my English =) TY.

[2018-10-04 18:58] phanan commented on #1823
Please use our [forum](http://forum.vuejs.org) or [Discord](https://vue-land.js.org/) for questions like this.

[2018-10-04 18:58] #1823 closed

[2018-10-04 19:02] phanan commented on #1807
@ivansieder sure, PR's are always welcome :)

[2018-10-05 09:12] Dmitri-Sintsov commented on #346
Virtual DOM is not always an advantage, it can be painful when one wants to have the framework interoperability and also wants to include new framework into large already existing code base. Thus old Vue was better compatible to legacy code. The difference of performance are rarely noticed by the end users. Today even mobile devices are powerful enough.

[2018-10-06 09:46] zarub2k commented on #1336
@chrisvfritz Worked great!

[2018-10-06 17:38] jonathanstiansen opened #1827 "All example show &#123;&#123; instead of `{{`"
The examples of Vue on the pages look not pretty bad at the moment, the HTML parser is interpreting all markup as HTML literals.

Everywhere in [this](http://optimizely.github.io/vuejs.org/guide/index.html) page's examples, it's hard to read.

[2018-10-06 17:51] phanan commented on #1827
The linked page is not on vuejs.org domain. Even worse, it's considered as spam by uBlock.

![image](https://user-images.githubusercontent.com/8056274/46574276-0116f700-c9a1-11e8-9024-66571ed9a164.png)

Can you elaborate?

[2018-10-06 20:42] jonathanstiansen commented on #1827
Very interesting. I don't know but it showed up at the top of my search results with Vue getting started.   Consider this closed but you may want to report the site in question since it's not part of your domain...

[2018-10-06 20:42] #1827 closed

[2018-10-06 20:44] leopiccionia commented on #1827
More importantly: it's the docs for 0.10 version, that's 4+ years old and no longer maintained.

[2018-10-06 20:57] jonathanstiansen commented on #1827
Like I said, I'm new to vue and his popped up at the top of search results.
I don't know which version is modern.
On Sat, Oct 6, 2018 at 2:44 PM Leonardo Piccioni de Almeida <
notifications@github.com> wrote:

--

Sent from my cell phone, please excuse any mistakes.

[2018-10-06 21:01] phanan commented on #1827
May I ask the keywords and search engine you used?

[2018-10-06 21:16] jonathanstiansen commented on #1827
Chrome and I believe I was looking for more about directives, so I could
have searched 'vuejs Directives' or 'vuejs directives in depth' or
something :-) I don't have my original tab open so I'm having trouble
finding exactly what I searched.

On Sat, Oct 6, 2018 at 3:01 PM Phan An <notifications@github.com> wrote:

--

Sent from my cell phone, please excuse any mistakes.

[2018-10-07 21:56] samuelgozi opened #1829 "Updated code examples to ES2015, is this relevant?"
Without thinking too much I updated all the documentation to ES2015(es6) and changed the code style to use semicolons and fixed some typos that could cause errors if copy-pasted, however only after finishing all of it I realized that it would cause many conflicts.

Is this relevant or should I forget about it?

[2018-10-07 23:57] sdras commented on #1829
Hey! Thanks for doing that! I think it would be better for us if you could submit smaller PRs with the typos first so that we can take a look at one thing at a time. Massive PRs tend to get stalled, as you noted, it becomes harder to manage the conflicts.

Re: ES6, @chrisvfritz and I have talked about this a few times, more recently we thought it might be a good direction, though that was a casual

[2018-10-07 23:59] sdras commented on #1802
That sounds like really good feedback, I think you're right, that would be easier for people to grasp on first reading. I defer to Chris, though.

[2018-10-08 02:37] sdras commented on #1819
Hi Ivan! Yes I think this would make a great cookbook entry. It might make sense to link from one to the other so that people who are interested can see a particular use case in action. Thanks! I look forward to your PR.

[2018-10-08 03:41] FightingQueen opened #1831 "Inaccuracy in comparisons guide"
Why is there no Chinese Teaching Video？

[2018-10-08 08:37] samuelgozi commented on #1829
@sdras Thanks for replying, when I wrote typos I meant code errors, not grammar. In some cases, there are missing commas and other small errors that would break the code.
At this point, it will be very hard for me to separate those from the other changes.

Overall I made the code more consistent, In many cases, you could find in the same document es6/next syntax and in the next example es5 syntax,

[2018-10-08 09:28] phanan commented on #1831
Hello. Please note that we always welcome contributions :)

[2018-10-08 09:28] #1831 closed

[2018-10-08 10:34] benjvmin commented on #1637
On top of what @mateuszRybczonek said, I have also done a small deep dive on how to achieve this functionality, which you can find here: https://benjamintaylorportfolio.netlify.com/#/post/lazy-loading-images-with-vue-js-directives

Both of our implementations differ only very slightly- the only thing missing would be including an intersection observer polyfill / fallback. It would be an honor to f

[2018-10-08 11:33] samuelgozi commented on #1829
@phanan I agree with most of your point, and as I said, I didn't think much before doing it so I don't expect this to even be considered, however, I do think that converting the code to es6 should be strongly considered in addition to enforcing a coding style on the examples.

The reason I assumed that this might be a good idea is that most of the docs that I read(i think its safe to say the major

[2018-10-08 13:34] ivansieder commented on #1807
Created https://github.com/vuejs/vuejs.org/pull/1833. not that much, but hopefully helpful! :)

[2018-10-08 13:53] chrisvfritz commented on #1802
Sounds good to me! 🙂

[2018-10-08 14:20] shentao commented on #1802
Great! Will work on the changes over the next few days. :)

[2018-10-08 21:05] sdras commented on #1637
@mazipan, are you still interested in making this? If not, would you like to pass it off to @benjvmin or @mateuszRybczonek? It might be nice to all work together on something but we need to decide who commits the initial PR. Thanks!

[2018-10-08 23:13] mazipan commented on #1637
I think I don't have much time to write this by myself, it will nice to have other people to help write this thing.
@benjvmin or @mateuszRybczonek maybe can help us to write this.

But my concern is, but in my opinion is this cookbook should very simple because we want to teach a community about concept `intersectionObserver` in Vue not introduce the library that we built it self.

I will help dis

[2018-10-09 00:41] sdras commented on #1637
It's ok for cookbook entries to include how to use a library, or even how it's built. People can also learn from these cases. One can learn about `intersectionObserver` from using it in practice. @benjvmin or @mateuszRybczonek, we welcome your contribution.

Since @mateuszRybczonek's article is already on top of the work that @benjvmin did, perhaps we should work off of Benjamin's initial post. I

[2018-10-09 00:44] sdras commented on #1637
I would also like to highlight @Akryum's library https://github.com/Akryum/vue-observe-visibility which makes use of `intersectionObserver` for animations. Technically with rAF this isn't needed but many don't know this or make use of it, so good for people to find it.

[2018-10-09 00:47] Akryum commented on #1637
`vue-observe-visibility` can absolutely work for lazy loading images, and it also supports old browsers!

[2018-10-09 04:44] benjvmin commented on #1637
@Akryum really neat library! I also think highlighting perf is a great idea @sdras! This seems destined for the “Alternative Patterns” section, highlighting the benefits and drawbacks to both Intersection Observer vs. scroll based event handling.

I do want to echo what @mazipan said about focusing on simplicity as well, providing a barebones solution will hope to motivate others to layer addition

[2018-10-09 04:58] sdras commented on #1637
Thanks for sticking to my formula, that will make the PR go more smoothly. You'll find you need to make a base example that's simple as part of that. I look forward to it!

[2018-10-09 05:18] sdras commented on #1670
Sounds like this is resolved, and no action will be needed. :) Feel free to reopen if I'm mistaken.

[2018-10-10 14:39] thestamp commented on #1819
I for one would love this, with an example of how to handle expired sessions (ex: login popover)

[2018-10-10 14:52] ivansieder commented on #1819
Yes @thestamp. That’s what i was planning. With the example of using JWTs. The request would automatically try to refetch a new access token and then retry the request in case of an initial 401 for example. Same could be for your case. Opening the login form for a 401 in the response. Stay tuned!

[2018-10-11 19:27] chrisvfritz commented on #1308
This is addressed now, so closing. 🙂

[2018-10-11 19:27] #1308 closed

[2018-10-13 09:56] benjvmin commented on #1637
Sorry for the late reply, I took a couple personal days off- I'm still on working on getting the draft completed / refined as possible so we can have the least amount of friction when I submit the PR- hopefully looking at the next couple days to submit. Cheers and happy weekend all!

[2018-10-15 17:24] VSJ opened #1840 "[Proposal] Add Marko JS into the comparisons"
Can you guys also add markojs to the comparisons?

[2018-10-15 21:53] sdras commented on #1840
I'm not sure anyone here has a lot of experience with it, what in particular would you like to highlight? We could accept a pull request if you're willing to write up the comparison.

[2018-10-16 14:50] phanan commented on #1840
As the issue's title and context are quite unrelated to each other, I've taken the liberty to change the title – hope you don't mind.

[2018-10-20 04:01] jamesgeorge007 commented on #1696
Shall I proceed?

[2018-10-20 16:38] jamesgeorge007 commented on #1782
@webnard @kashwa Anybody working on this?

[2018-10-21 09:49] phanan commented on #1782
Agreed. I think a Download/Install button can be added in place of the current GitHub one – IMHO GitHub the link is less important to the average user and can be put at the top right corner (similar to how most of the other libraries are doing). I can work on such a UI change if the proposal is agreed. Pinging @yyx990803 @chrisvfritz @sdras.

[2018-10-21 12:37] #1696 closed

[2018-10-23 09:49] OgierM opened #1851 "Vuejs.org PWA: Save the site into local storage"
Vuejs.org is already a PWA. It would be nice if it saves the whole website into local storage, so I can use the PWA as an offline documentation.

[2018-10-23 14:54] phanan commented on #1851
@OgierM Personally I'd use [DevDocs](https://devdocs.io/) for the purpose :)

[2018-10-23 14:54] #1851 closed

[2018-10-23 18:11] darrylvankampen opened #1852 "Translation into Dutch"
Hi folks,

I'm about to start translating the documentation into Dutch. Any help is appreciated. Feel free to hit me up if you're willing to help.

[2018-10-24 14:10] phanan commented on #1852
Thank you. Please note though, that in order to reduce maintenance debt, we don't officially host such translations anymore. Instead, translations should be forked, hosted (and with it, maintained) externally. Thanks!

[2018-10-24 14:10] #1852 closed

[2018-10-24 21:56] OgierM commented on #1851
@OgierM I see that, but the Vue docs can also be used as a tutorial, especially the beginning. It shouldn't be too hard to implement, but it might be a big win for people with sketchy internet connections.

[2018-10-26 14:50] fvonellerts commented on #680
You need to compare the arrays inside the Vue Watcher, not when emitting it.
This worked for me:

`watch: {
               value: function (value) {
                // update value

                if (typeof value === 'object') {
                    // multiselect, need a deep compare

                    if (JSON.stringify(value) !== JSON.stringify(value)) {
                        $(this.$el)

[2018-10-31 23:57] sdras commented on #1840
@VSJ since we didn't hear back, I'm going to close this out unless you want to contribute. We don't have the background to do this ourselves. Please feel free to reopen, we'd love to add to the guide. Thanks!

[2018-10-31 23:57] #1840 closed

[2018-11-01 00:01] sdras commented on #1829
@samuelgozi a great place to start would be to consider some of those small changes you mentioned where you think the code is actually broken- but in small PRs please. The docs has it's own coding style so please keep that in consideration. If we do move to ES6 for all code samples, it will likely be a larger undertaking that will be decided on with the team and particularly @chrisvfritz. For that

[2018-11-01 00:01] #1829 closed

[2018-11-06 07:50] afontcu opened #1874 "Clarify behavior with null values on prop validation"
Hi! 👋 This issue (https://github.com/vuejs/vue/issues/9023) reminded me of a discussion we had in our team regarding the [Prop Validation](https://github.com/vuejs/vuejs.org/blob/53b11fbbef932f3ba2cf0596fe198d6be8d70e23/src/v2/guide/components-props.md#prop-validation) doc, where people who started working with Vue found hard to understand the following statement:

[code]

Does the comment mean th

[2018-11-06 16:48] jaresan opened #1875 "[Guide] Computed properties mistake"
[The computed page](https://vuejs.org/v2/guide/computed.html) states `None of that would be possible with a computed property.` at the end. Same effect can be achieved using setters on the computed property though, correct?

[2018-11-08 00:42] steelcg opened #1876 "First character or paste is not accepted for watch when assigning placeholder to "" in <textarea> tag with IE11,"
html
`<div id="app">
        <textarea rows="10" v-model="projectName" placeholder=""></textarea>
        <button @click="search">search</button>
    </div>`
js
`<script>
        var vm = new Vue({
        el: "#app",
        data: {
            projectName:""
        },
        methods: {
            search:function(){
                alert(this.projectName == "");
            }
        }
    });

[2018-11-08 04:44] #1876 closed

[2018-11-08 04:44] steelcg commented on #1876
wrong repository i leave the issue.

[2018-11-08 18:08] IronDos opened #1877 "syntax object in array in v-bind"
Hey!
I tried to make this:
v-bind:class="{ 'is-invalid': errors.payments[0][index]['selectedMethod']}"
and it doesnt work.
Data structure:
object/array => array => array => object
I tried all the combination with ' " and  +
in every single place I could.
Maybe I am doing something wrong.
BUT,
If I use laravel blade @{{ errors.payments[0][index]['selectedMethod']}" }}
it works fine but in "" when i

[2018-11-09 13:05] phanan commented on #1877
Hello! Please use our [forum](http://forum.vuejs.org) for questions like these. Thanks!

[2018-11-09 13:05] #1877 closed

[2018-11-13 16:31] renoirb opened #1879 "[cookbook] Packaging SFC for NPM: Give more explanation on how to leverage package-browser-field-spec when creating own library"
In [Cookbook / Packaging SFC for NPM][cookbook-packaging-sfc] ([docs link][cookbook-packaging-sfc-read]) we get an explanation that if we add a `"browser"` object from the library's *package.json*.

[code]

So that, when in another project, we can add that module as a dependency, then import it using `import`.

[code]

After some reading, it seems that's planned in tleunen/babel-plugin-module-reso

[2018-11-13 16:40] renoirb commented on #1879
Pinging @chrisvfritz related to demo work in [chrisvfritz/hello-vue-components][hello-vue-components]. Maybe this issue should be moved elsewhere.

[hello-vue-components]: https://github.com/chrisvfritz/hello-vue-components

[2018-11-16 03:00] GitACDreamer opened #1884 "[cookbook]List Entering/Leaving Transitions , remove function has a bug"
[code]

[2018-11-16 03:37] GitACDreamer commented on #1884
I'm sorry , the demo demostrates is correct , if the `nextNum` decrease , it' demostrates:  add -> remove ->shuffle->add it will be caused error *the item key is same*

[2018-11-16 03:37] #1884 closed

[2018-11-22 15:34] phanan commented on #1874
@afontcu Looking forward to you PR :)

[2018-11-23 17:46] rightaway opened #1888 "RSS for news.vuejs.org"
http://news.vuejs.org/feed.xml is outdated, and the other RSS link there is updated but only for the podcasts. The RSS feed should contain the actual news.vuejs.org entries as shown on the website.

[2018-11-24 12:05] phanan commented on #1888
Pinging @shentao.

[2018-11-26 05:24] ZaynJarvis opened #1889 "example page contains error on ipad"
When double tap to enlarge the view on iPad, the example page "example header" position changes and is not clickable.
![image](https://user-images.githubusercontent.com/31875147/48994496-9010e600-f17e-11e8-982e-7b082bd3f44a.png)

[2018-11-26 11:11] shentao commented on #1888
Thanks for bringing this up! The RSS feed was supposed to be updated whenever the build task finishes. Gotta look why it doesn’t.

Let’s move it to the news repo. https://github.com/vuejs/news.vuejs.org/issues/15

[2018-11-26 11:11] #1888 closed

[2018-11-26 12:10] afontcu commented on #1874
Great @phanan! :)

I noticed that both `null` and `undefined` values won't raise any warning (if the prop is not required, obvs).

Should the new message warn about both edge cases? Or is there a reason to only mention `null` and not `undefined`?

My suggestion would be to reword the comment:

"// Basic type check (`null` and `undefined` values will pass any type validation)"

[2018-11-30 22:47] benjvmin commented on #1637
Hey all,

Just wanted to succinctly apologize for my lack of communication (just accepted my first design/dev role!) however I am still very much hard at work on this. Since this is a cookbook entry I wanted to stick to @sdras 's formula while embodying the principles that separate it from the guide, which I've put much focus on "greater depth", as to create a comprehensive guide to try and help d

[2018-12-02 12:15] pribilinskiy opened #1896 "Styleguide Priority D v-if/v-else-if/v-else without key Example"
At https://vuejs.org/v2/style-guide/#v-if-v-else-if-v-else-without-key-use-with-caution
there's a link to a fiddle with an example about side effects https://jsfiddle.net/chrisvfritz/bh8fLeds/
which is very confusing.

In the example both buttons are of type `submit` thus when clicking either the page is reloaded.
Here's a fixed version https://jsfiddle.net/zkywct0j/
But now it's unclear where are

[2018-12-03 13:57] ebakirmak opened #1899 "Declarative Rendering"
Hi guys, i have a problem related declarative rendering.

I am adding value (numbers) to <td> tags . <td> tags are editable.
![p1](https://user-images.githubusercontent.com/11062124/49377404-244cf100-f71b-11e8-90be-63ecadd677a7.png)

and then i send to database. When it saves, i change the date at datepicker.
![p2](https://user-images.githubusercontent.com/11062124/49377537-7ee64d00-f71b-11e8-94dc

[2018-12-03 17:08] cxw42 commented on #1799
@phanan Have you had a chance to look at #1855?  I just rebased it onto the latest master.  Thanks!

[2018-12-03 17:22] #1799 closed

[2018-12-03 17:23] phanan commented on #1799
@cxw42 Indeed, this slips my watch :) Thanks!

[2018-12-05 08:41] phanan commented on #1899
Hello! Please use our [forum](http://forum.vuejs.org) or [Discord](https://vue-land.js.org/) for questions like this.

[2018-12-05 08:41] #1899 closed

[2018-12-05 08:44] ebakirmak commented on #1899
Okay.

[2018-12-06 12:49] christophfriedrich opened #1901 "Availability of instance properties in default or validator functions"
The [docs about default and validator functions](https://vuejs.org/v2/guide/components-props.html#Prop-Validation) say:

Therefore I expected [this fiddle](https://jsfiddle.net/christophfriedrich/gxrs6n0v/3/) to fail: In the default function, I access `this.$parent`, which [is listed as an an instance property](https://vuejs.org/v2/api/#Instance-Properties). But the fiddle works!

The way the docs

[2018-12-11 15:28] 38elements opened #1903 "Add async to Global Config section in api/index.md"
`async` is added at `2.5.18`.

https://github.com/vuejs/vue/blob/d780dd2e2adcf71f40c086055a659a9a2b4a8282/types/vue.d.ts#L77

[2018-12-13 07:18] aftarfadilah commented on #1522
Hi @cloudsbird , it seems your translation repositories is inactive. I would like to continue your translation by forking your repository.
@isatrio There is already a translation repository for indonesia [vuejs-id](https://github.com/vuejs-id/docs) but it's already stale and inactive for a long period of time. I was searching this repository and can't find any Bahasa Indonesia translation work in

[2018-12-13 08:20] cb109 opened #1905 "How are you creating these beautiful architectural diagrams across Vue repositories?"
I do like the look and feel of the diagrams that can be found in the VueJS documentation as well as in its sibling packages like vuex or vue-cli. They all seem to follow the same style guide. Here are a couple of examples:

## From vuejs
![](https://github.com/vuejs/vuejs.org/blob/master/src/images/mvvm.png?raw=true)
## From vue-cli-ui
![](https://cli.vuejs.org/vue-cli-ui-schema.png)
## From vuex

[2018-12-13 08:55] Justineo commented on #1905
Last time I asked, Evan told me he drew these charts manually with [Adobe Illustrator](https://www.adobe.com/products/illustrator.html).

[2018-12-13 08:55] #1905 closed

[2018-12-13 09:17] cb109 commented on #1905
Alright, thanks for clarifying :+1:

[2018-12-16 07:09] DominusVilicus commented on #658
Why hasn't this been documented yet?

[2018-12-18 08:57] cedlemo opened #1913 "[cookbook] serverless blog suggestions for improvements"
First of all, thanks you for all these good documentations.

I did not found the cookbook entry "Create a CMS-Powered Blog" easy to follow. Maybe it is related to the fact that I am a beginner with Vuejs and with the JavaScript ecosystem.

For example in order to really start I needed to use the documentation of [ButterCMS](https://github.com/ButterCMS/buttercms-vue-tutorial).

Furthermore, in the

[2018-12-18 14:51] sdras commented on #1913
No, I don't think the issue is with you, I think the issue is with the recipe. I'm going to set aside time to go over some entries in the next few weeks and curate them. I'll either improve this recipe or get rid of it. Thank you for filing this.

[2018-12-19 09:43] samburgers commented on #1162
Pascal case doesn't appear to work with Async components in `.jsx/.tsx` files:

[code]

Although all of these below appear to work fine:

[code]

[code]

[code]

[code]

Using CLI 3 for these

[2018-12-19 22:16] BlitZz96 commented on #1901
I might be wrong, but how I see it: Since the instance itself(New Vue) will go through the[ lifecycle](https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram) first, it is totally natural that the child component can access it's parent's data inside a prop definition(or anywhere really).

[2018-12-20 05:44] DBARUNNER opened #1916 "JQuery conflict with Vuejs"
I'm using Metronic  Data-table when I call a Vue function inside of the Table content it's not working. but, when I call outside of the Table content it's working it means that Vue has conflict with jQuery. How should I solve it ?

[2018-12-20 16:30] phanan commented on #1916
Please ask your question on [our forum](https://forum.vuejs.org) or [Discord](https://discordapp.com/invite/HBherRA).

[2018-12-20 16:30] #1916 closed

[2018-12-21 10:21] mciesin opened #1918 "Styleguide: Distinction of individual components in tightly coupled component names"
At first, I would like to congratulate you for the whole effort you put to create the Style Guide.

My issue is quite simple - when I create tightly coupled component which is nested on a few levels, at first glance I can't say which part of components name is a name of another component.

E.g. in `TodoListItemButton.vue` it is not clear how many components do we have and what are they names. We c

[2018-12-23 13:04] StevenLiekens opened #1919 "Explanation of Different Builds doesn't mention browser builds"
I'm a first-time user following the installation guide and I noticed that the NPM package contains bundles that aren't mentioned anywhere.

 - vue/dist/vue.esm.browser.js
 - vue/dist/vue.esm.browser.min.js

Don't these files deserve a mention here?
https://github.com/vuejs/vuejs.org/blob/a32e1567979aff0b0f7736c6901958b202d4afc9/src/v2/guide/installation.md#explanation-of-different-builds

[2018-12-24 18:30] nabrown commented on #1730
I did a ton of reading and learning about functional components in order to write up documentation to be added to the Vue docs. The pull request for that is here: https://github.com/vuejs/vuejs.org/pull/1753

I would love someone to review and comment on the PR, so we can get something added to the docs!

[2018-12-25 10:43] nolimitdev opened #1922 "Mismatch mounted hook explanation in "Migration from Vue 1.x" vs. "API v2""
From https://vuejs.org/v2/guide/migration.html#ready-replaced

From https://vuejs.org/v2/api/#mounted

Text which explains mounted hook in migration is different from the text in API v2. Text in migration should be updated to be the same such as in API v2 because term `no guarantee` is not explained. Why? Mounted hook guarantee that component is in-document when its parent is in-document. So when

[2018-12-27 22:50] celyes opened #1923 "Translate Docs to Arabic - work in progress"
Hello Everyone,

I would like to start translating vuejs.org website to Arabic.
I forked vuejs.org to ar.vuejs.org project in InterstellarClub organisation.

https://github.com/InterstellarClub/ar.vuejs.org

anyone is welcome to contribute to this translation.

Thank you,

Celyes

[2019-01-05 14:06] JakeTvvv commented on #1436
@wbankowski How do you progress? I would like to join and help in the creation of Polish translation

[2019-01-08 00:41] Acrunam opened #1930 "Site Down"
Your site is down :{

[2019-01-08 02:46] yyx990803 commented on #1930
It's working fine for all our team members in different parts of the world - maybe check your ISP?

[2019-01-08 02:46] #1930 closed

[2019-01-13 09:17] JonathanDn opened #1935 "Translate Docs to Hebrew - work-in-progress"
I would like to start translating vuejs.org DOCS to Hebrew as we have a thriving Vue community here in Israel as well as many Hebrew speaking develoepr abroad

I forked vuejs.org to ar.vuejs.org project via:
https://github.com/JonathanDn/vuejs.org

Anyone is welcome to contribute to this translation.

Thank you,

Jonathan

[2019-01-14 17:26] betweenbrain opened #1936 "Performance of templates vs render functions"
[Render Functions & JSX: Basics](https://vuejs.org/v2/guide/render-function.html#Basics) states that templates are recommended in the majority of cases. I understand that templates are compiled to render functions. [Evan’s keynote at VueConf Toronto 2018](https://www.vuemastery.com/conferences/vueconf-toronto-2018/vue-3-0-updates/) got me wondering about the performance of using templates vs rende

[2019-01-14 23:06] David263 opened #1938 "Error on Vue website home page"
Copied here from: https://forum.vuejs.org/t/error-on-vue-website-home-page/53856 .

When visiting https://vuejs.org/ 1 and playing the video, the top line of the video is cut off by the web page header. So when the host announces success, you can’t actually see the successful output.

My suggestion would be to test your homepage on a variety of browsers and make sure that the video pane is moved d

[2019-01-15 20:31] yyx990803 commented on #1938
/cc @whosdustin @Gregg

[2019-01-17 08:08] mayeyun opened #1943 "Inaccuracy in comparisons guide"
Complex projects and Angular ratios are more inadequate

[2019-01-17 11:47] seitaro1991 opened #1945 "Can not "Chat" of window"
Hi, team!
Vue.js is awseome. I love it!

Copied here from: https://vuejs.org/v2/guide/join.html
The page is displayed slowly even when clicking the link of "Chat" in the category of "Get Support". I guess the URL is broken?

My environment: 13" Macbook Pro, mac OS Maojave 10.14.2, Chrome.
![image](https://user-images.githubusercontent.com/36176446/51316433-01428a80-1a98-11e9-94be-653710d80ad2.png)

[2019-01-17 16:32] phanan commented on #1943
Thanks for your feedback. We're happy to receive PRs.

[2019-01-17 16:32] #1943 closed

[2019-01-18 12:34] berkansivri opened #1947 "Live Demo of Example"
You need to check live demo of hackernews example.
https://vuejs.org/v2/examples/hackernews.html

[2019-01-18 13:13] phanan commented on #1947
Oh wow, this is bad 🤦‍♂️ Thanks for letting us know.

[2019-01-19 04:32] hnhtag opened #1948 "Myanmar (Burmese) Translation"
Hello,

I would like to start translating vuejs.org doc to Myanmar (Burmese).
I forked vuejs.org to mm.vuejs.org project in Vue.js Myanmar.

https://github.com/vuejs-mm/mm.vuejs.org

Welcome to contribute.

Thank you,

[2019-01-19 05:57] DominusVilicus commented on #1936
Warning: Just my opinion

I'd expect that render functions are generally faster in more scenarios since everything is manually created with no overhead, whereas, with templates, they need to be compiled and won't be as optimised as render functions in some cases, as additional overhead may be included.

But Vue 3's template compiler should be getting tonnes of new optimisations. I don't think it m

[2019-01-20 02:51] 0polar commented on #1631
Polymer is [deprecated](https://github.com/Polymer/polymer/issues/5240), but the beat part:

- component interface design (prop, event, slot)
- single file HTML template
- 2-way data binding
- behavior (mixin)

will long live in Vue

[2019-01-20 12:05] dam-orzel commented on #1436
@anushhka and how are the works on the Polish translation going?

[2019-01-21 13:53] dominikstraessle commented on #1947
May this issue has been resolved by the following pull request: [#1951](https://github.com/vuejs/vuejs.org/pull/1951)

[2019-01-22 15:55] betweenbrain commented on #1936
Thanks for the response @DominusVilicus. I have been doing some preliminary performance testing of templates vs JSX, with Vue v2.5, and so far the results generally support your conclusion that it may not matter much in real-life scenarios. I suspect that Vue 3's optimizations may make templates more performant for larger, complex applications, but that's just a guess.

[2019-01-22 16:12] LinusBorg commented on #1936
As long as we talk ab out a template and a render function doing the same thing, the opposite is the case, pretty much.

1. Yes, if you compile termplates at runtime, the come with a one-time overhead. But with .vue files, you do that work during compile time (like for JSX), so the runtime doesn'T have any negative effect by this.
2. Static analysis during compile time allows us to produces optimi

[2019-01-23 05:37] espagueti opened #1954 "Avoid translation of sample code fragments with Google Translate"
The sample code fragments enclosed with `<pre>` tags are translated along with the rest of the document when using translation tools such as Google Translate.

Please, it's important to solve this for people whose languages ​​are not available in the documentation. It's easily solved by enclosing the code with a `<code>` tag in place or together with the `<pre>` tag. This would also give you corre

[2019-01-23 08:48] phanan commented on #1954
@espagueti Sorry for the inconvenience. I admit that I didn't know about this limitation of `pre` with Google Translate, and agree that we should fix it. So we have at least two options:

* `<code>`: Correct semantics, may require additional styling
* `<pre class="notranslate">`: Minimal changes, "wrong" semantics

We'll need to consider as well, that comments in the code examples will _not_ be tr

[2019-01-23 08:53] phanan commented on #1954
Btw @espagueti your English is perfect :)

[2019-01-23 15:21] espagueti commented on #1954
Thanks for the quick response.

I know, but it is preferable to the complete translation of the code. When it is translated, not only does it do it with words, but it also messes up the code, affecting the syntax and making it completely incomprehensible. You also have to keep in mind that there are not always comments.

Although the class `notranslate` is widely unknown, most of the documentation

[2019-01-23 15:30] espagueti commented on #1954
I'm sorry I had closed it by chance. Thanks for opening it again.

[2019-01-23 16:56] xak2000 opened #1955 "Clarify in documentation that "slot-scope" is named "scope" before 2.5.0"
The [guide](https://vuejs.org/v2/guide/components-slots.html#Scoped-Slots) about Scoped Slots says:

But it is not says, that until 2.5.0, `slot-scope` doesn't work at all, even inside `<template>` element. To make it work, It must be `scope` inside `<template>` element.

It will be good to mention in the same warning element in documentation, that `slot-scope` not works until 2.5.0 and `scope` mu

[2019-01-24 16:47] betweenbrain commented on #1936
Awesome, thanks @LinusBorg!

[2019-01-24 20:19] williamgrosset commented on #1595
+1 on this - enjoyed your post! You get a lot of developers who transition from React to Vue because of the similarities between both libraries, so I think this makes a lot of sense.

[2019-01-25 16:08] kasiawrz commented on #1436
hey guys!
@wbankowski @chrisvfritz  @anushhka how is it going?
Is there any progress on it?
i have quite a lot of time (especially over the next month) and would like to contribute

[2019-01-26 10:19] JakeTvvv commented on #1436
Hi!
@dam-orzel @kasiawrz
I'm from the VUE.JS Polska team.
Send me an email to kontakt@jakubgrzywacz.pl and we will add you to the organization and send an invitation to Discord.

[2019-01-27 13:30] d8vjork opened #1962 "Specify list of built-in events directives"
Hi guys ✋,

I was trying to implement some events on my app but as I saw in https://vuejs.org/v2/guide/events.html is no any `@blur` event (even the API docs doesn't explain that we've this since 2.3.x update), maybe more events missing

I think is a good To Do for a little improvement on the docs site, just tell the developer all the possibilities.

And apologies if this is repeated somewhere.

[2019-01-27 13:35] Justineo commented on #1962
`v-on` on native HTML elements supports all events. `blur` events is only triggered on focusable elements. Please make sure you are applying `@blur` on a focusable element (interactive elements like `<button>`, `<a>`, etc. or with a positive `tabindex` value).

[2019-01-27 13:42] d8vjork commented on #1962
@Justineo Missed that, I was imagined that those events are limited because of the release of the blur

[2019-01-27 18:46] #1947 closed

[2019-01-27 19:15] phanan commented on #1962
As your issue seems to have been clarified, I'm closing this :) Feel free to open another, or better yet, ask on Discord or our forum.

[2019-01-27 19:15] #1962 closed

[2019-01-27 19:41] phanan commented on #1955
Let's move this to the PR.

[2019-01-27 19:41] #1955 closed

[2019-01-27 19:51] phanan commented on #1875
Feel free to create a PR :)

[2019-01-27 19:51] #1875 closed

[2019-01-27 20:03] #1802 closed

[2019-01-27 23:13] thomassjogren commented on #1901
It looks like the problem is only with the `default` as if you try access instance properties in the `validate`, it doesn't work.

[2019-01-28 07:57] maluio commented on #1327
Hey,

Any updates on the current status? @dpisarenko, it seems you have translated [quite a bit](https://github.com/dpisarenko/vuejs.org/tree/de). @thilobillerbeck, are you planning to continue maintaining the vuejs-de organisation? Could both efforts be merged in some way?

[2019-01-28 11:15] #1765 closed

[2019-01-28 11:16] #1413 closed

[2019-01-28 11:19] phanan commented on #1637
@benjvmin This looks great! I see that the fix will be merged into Chrome 72. Hope to see the end result by then :)

[2019-01-28 11:20] phanan commented on #1775
As the issue can't be reproduced (anymore), I'm closing this. If you believe it's a mistake, feel free to open another ticket. Thanks!

[2019-01-28 11:20] #1775 closed

[2019-01-28 11:21] phanan commented on #1605
Closing due to inactivity.

[2019-01-28 11:21] #1605 closed

[2019-01-28 11:21] phanan commented on #382
I'd like to think this issue is not valid anymore ;)

[2019-01-28 11:21] #382 closed

[2019-01-28 11:23] phanan commented on #783
I'm closing this in an effort to clean up the issue list. If you think this is worth considering, please open a PR. Cheers!

[2019-01-28 11:23] #783 closed

[2019-01-28 13:17] phanan commented on #1918
Pinging @chrisvfritz.

[2019-01-28 14:21] aroue2 opened #1964 "Guide : add warning to v-for with v-if"
Hello,

In the guide we explain [v-if can be nested in a v-for](https://vuejs.org/v2/guide/list.html#v-for-with-v-if). However, this is inadvisable in the Vue.js guide style, [here](https://vuejs.org/v2/style-guide/#Avoid-v-if-with-v-for-essential). Plus, it's an essential rule of the guide.
So what about adding a warning with a link to the style guide ?

[2019-01-28 17:09] phanan commented on #601
I guess it's safe to say this can be closed by now.

[2019-01-28 17:09] #601 closed

[2019-01-28 17:31] phanan commented on #1046
I'm closing this topic as an effort to tidy our issue list. Feel free to open another if you think it's a mistake (and sorry for that 🙂).

[2019-01-28 17:31] #1046 closed

[2019-01-28 17:32] phanan commented on #863
I'm closing this issue as an effort to tidy our issue list. Feel free to open another if you think it's a mistake (and sorry for that 🙂).

[2019-01-28 17:32] #863 closed

[2019-01-28 17:32] phanan commented on #925
I'm closing this issue as an effort to tidy our issue list. Feel free to open another if you think it's a mistake (and sorry for that 🙂).

[2019-01-28 17:32] #925 closed

[2019-01-28 17:33] phanan commented on #308
I'm closing this issue as an effort to tidy up our issue list. Feel free to open another if you think it's a mistake (and sorry for that 🙂).

[2019-01-28 17:33] #308 closed

[2019-01-28 17:34] phanan commented on #830
Closing due to inactivity.

[2019-01-28 17:34] #830 closed

[2019-01-28 17:34] phanan commented on #1153
I'm closing this issue as an effort to tidy up our issue list. Feel free to open another if you think it's a mistake (and sorry for that 🙂).

[2019-01-28 17:34] #1153 closed

[2019-01-28 17:34] #1252 closed

[2019-01-28 17:35] phanan commented on #1368
I'm closing this issue as an effort to tidy up our issue list. Feel free to open another if you think it's a mistake (and sorry for that 🙂).

[2019-01-28 17:35] #1368 closed

[2019-01-28 17:35] phanan commented on #1689
I'm closing this issue as an effort to tidy up our issue list. Feel free to open another if you think it's a mistake (and sorry for that 🙂).

[2019-01-28 17:35] #1689 closed

[2019-01-28 17:39] phanan commented on #1299
@printercu Thanks for reporting the issue (and sorry for the super late response). However, I think the current example is good enough for the intended purpose (to show case Vue/Select2 integration).

[2019-01-28 17:39] #1299 closed

[2019-01-28 17:44] phanan commented on #1687
Closing as the issue is no longer valid. Thank you!

[2019-01-28 17:44] #1687 closed

[2019-01-28 17:53] phanan commented on #1889
Thanks for reporting the issue. I can't reproduce it though, and would argue that it would be an edge case anyway, so I'm closing this. Feel free to open another if you don't think so.

[2019-01-28 17:53] #1889 closed

[2019-01-28 19:22] phanan commented on #1896
Thanks for letting us know. I believe @chrisvfritz has fixed the issue, so I'm closing this ticket. Please feel free to open another if it's not the case. Cheers!

[2019-01-28 19:22] #1896 closed

[2019-01-29 05:15] printercu commented on #1299
@phanan I find your decision strange. New vue.js users would like to see example, which they can just copy to their app and it should work. While finding such errors is disappointing.

[2019-01-29 06:43] dpisarenko commented on #1327
Hello, Martin! At the moment I cannot work on the translation. However, you can gladly use my existing translations as long as me and the other translator, Artjom Heinz, are credited. Best regards Dmitri Pisarenko 28.01.2019, 10:57, "Martin" <notifications@github.com>:Hey,Any updates on the current status? @dpisarenko, it seems you have translated quite a bit. @thilobillerbeck, are you planning to

[2019-01-29 09:02] phanan commented on #1299
@printercu Again, the purpose of the example, as well as others, is to provide a _minimal_ demonstration of the feature (in this case a wrapper component). It's never meant to be a complete product.

[2019-01-29 10:21] yamsellem opened #1965 "Clarify v-model in the docs"
### What problem does this feature solve?
On multiple occasions, the docs clearly stated that `v-model on a component uses value as the prop and input as the event` ([here](https://vuejs.org/v2/guide/components-custom-events.html#Customizing-Component-v-model) and [there](https://vuejs.org/v2/guide/components.html#Using-v-model-on-Components)).

On standards inputs, the documentation ([here](https

[2019-01-29 11:49] phanan commented on #1965
@yamsellem Thanks for reporting the issue. I see that it's almost an exact copy from https://github.com/vuejs/vue/issues/9370, which has been explained/clarified by @yyx990803. Do you think his clarification doesn't answer your question?

[2019-01-29 11:57] phanan commented on #1677
Thanks for the PR. However, while I would consider myself a big proponent of accessibility, I believe this change would fall beyond the scope of the example and make it more complex than it should be.

[2019-01-29 11:57] #1677 closed

[2019-01-29 12:01] phanan commented on #1787
@leopiccionia Any progress on this one?

[2019-01-29 12:03] phanan commented on #1948
I'm closing this issue as an effort to tidy up our issue list. Feel free to open another if you think it's a mistake (and sorry for that 🙂).

[2019-01-29 12:03] #1948 closed

[2019-01-29 12:04] phanan commented on #1522
I'm closing this issue as an effort to tidy up our issue list. Feel free to open another if you think it's a mistake (and sorry for that 🙂).

[2019-01-29 12:04] #1522 closed

[2019-01-29 13:11] leopiccionia commented on #1787
@phanan I've closed my original PR, I'll open an improved one yet today.

[2019-01-29 14:10] yamsellem commented on #1965
@phanan I think @yanxyz clarification is:
* the issue is not related to vue but to its docs: I copied it here
* the issue is not related to component but to standard inputs: I've tried to clarify the point here

_In a nutshell_: the expected behavior of `v-model` is not documented for standard inputs, and it would be of great help if it was.

(_so no, @yyx990803 don't answer my question, sorry_)

[2019-01-29 20:52] phanan commented on #1231
Thanks for letting us know. I'm closing this ticket though, as it seems the problem has been addressed. If you think this is a mistake, please open another. Cheers!

[2019-01-29 20:52] #1231 closed

[2019-01-29 21:02] phanan commented on #1752
Thanks for letting us know, but I wouldn't consider this a problem. It's only natural that we receive results tailored to our browser's locale.

[2019-01-29 21:02] #1752 closed

[2019-01-29 21:03] phanan commented on #1674
Closing due to inactivity.

[2019-01-29 21:03] #1674 closed

[2019-01-29 21:11] phanan commented on #1615
Closing due to inactivity.

[2019-01-29 21:11] #1615 closed

[2019-01-29 21:11] phanan commented on #1657
Closing due to inactivity.

[2019-01-29 21:11] #1657 closed

[2019-01-29 21:13] phanan commented on #1236
Thanks for letting us know. I can't seem to find the mentioned information though, so I'll go ahead and close this issue. If you think this is a mistake, feel free to open another. Cheers!

[2019-01-29 21:13] #1236 closed

[2019-01-29 22:01] phanan commented on #1582
It actually doesn't make much difference in this case – it all comes down to your preference :)

[2019-01-29 22:01] #1582 closed

[2019-01-29 22:04] phanan commented on #1517
@matteo-hertel Any progress?

[2019-01-29 22:09] phanan commented on #547
I guess we can close this issue now and address its spirit in a case by case basic.

[2019-01-29 22:09] #547 closed

[2019-01-29 22:09] matteo-hertel commented on #1517
@phanan yes actually, I have a draft on a branch somewhere, but it was at the time vue cli was still in beta and never got around to update it, thanks for reminding me 👍

[2019-01-30 06:33] maluio commented on #1327
Thanks @dpisarenko. If I will continue the translation I will credit you and Artjom and post an update here in case others are interested in joining in.

[2019-01-30 07:06] #1787 closed

[2019-01-31 04:00] Phinome commented on #1919
from `vue` build script: https://github.com/vuejs/vue/blob/dev/scripts/config.js#L96 . we will see, it should more clear at docs.

[2019-01-31 04:07] Justineo commented on #1919
See https://github.com/vuejs/vue/pull/7110#issuecomment-453686795.

[2019-01-31 04:07] #1919 closed

[2019-01-31 14:05] phanan commented on #1922
I'm not sure I get what you mean. You're saying "Text which explains mounted hook in migration is different from the text in API v2" but they are the same:

and

What am I missing here?

[2019-01-31 14:42] phanan commented on #1784
The mentioned section in Comparison is only meant to show how simple getting started with Vue is, so I don't see this as a huge problem honestly. t If you believe it is, a PR is always welcome :)

[2019-01-31 14:42] #1784 closed

[2019-01-31 14:59] phanan commented on #1780
Agreed. Apparently, Handlebars was much bigger and more relevant back when we started the doc, enough to be set as the de-facto example. I doubt it's still the case now :)

[2019-01-31 18:09] n3ps commented on #1236
I should've posted the link: https://vuejs.org/v2/guide/comparison.html#Knockout there's a reference to Chris' gist: https://gist.github.com/chrisvfritz/9e5f2d6826af00fcbace7be8f6dccb89

[2019-02-01 01:52] Even-Lau opened #1975 "Doesn't show accurate line number at web browser"
Hello,

I console.log( a ) in my webstorm at 1408, but the browser shows that it is at 1366.

![image](https://user-images.githubusercontent.com/23427420/52097683-fd217b80-2606-11e9-9d98-744523a6c761.png)

![image](https://user-images.githubusercontent.com/23427420/52097718-16c2c300-2607-11e9-95fc-5c9b8bfe354a.png)

[2019-02-01 01:56] Even-Lau commented on #1975
dependancies are below:

"dependencies": {
    "axios": "0.18.0",
    "echarts": "^4.2.0-rc.2",
    "element-ui": "2.4.6",
    "js-cookie": "2.2.0",
    "js-file-download": "^0.4.4",
    "normalize.css": "7.0.0",
    "nprogress": "0.2.0",
    "vue": "2.5.17",
    "vue-count-to": "^1.0.13",
    "vue-router": "3.0.1",
    "vuex": "3.0.1",
    "xlsx": "^0.14.1"
  },

[2019-02-01 06:32] abhishek-parmar1 opened #1976 "Avoid v-if with v-for also applies for v-show"
Docs mentioned that using `v-if` with `v-for` is a bad practice. Is this also applied to `v-show`?

[2019-02-01 06:40] jimutt opened #1977 "Visible {% raw %} on styleguide page"
There are some visibile `{% endraw %} {% raw %}` tags in the styleguide. In the "Prop name casing" and "Multi-attribute elements" sections (https://vuejs.org/v2/style-guide/#Prop-name-casing-strongly-recommended):
![Image of unwanted tags](https://user-images.githubusercontent.com/1392559/52106888-7bc0ed80-25f4-11e9-9b19-db9d2449de98.png)

[2019-02-01 10:15] NataliaTepluhina commented on #1977
For some reason it happens every time we have one-line code snippet as the last one inside `style-example` block

[2019-02-01 13:31] nolimitdev commented on #1922
Yes, they are different. Try to read my post again :) Note word "ALSO" in your second quotation... it means that current vue instance/component on which was mounted hook called HAVE TO BE mounted (it is guaranteed) but only children DO NOT HAVE TO BE mounted (it is not guaranteed).

So https://vuejs.org/v2/api/#mounted correctly says that only children do not have to be mounted.

And migration gui

[2019-02-01 18:46] nolimitdev commented on #1922
https://stackoverflow.com/questions/54482247/vue-js-note-that-mounted-does-not-guarantee-that-all-child-components-have-also

[2019-02-05 16:09] thilobillerbeck commented on #1327
Hey @maluio, I do not have enogh time at the moment to actively work on the translation, but I can give you and other devs access to the Vue.js DE organization so that you can work on the translation there. Maybe we can merge your, Dimitri's and my work into one repo and finish this off. :)

[2019-02-05 17:11] celyes opened #1985 "RTL styling files"
I'm wondering if there are any files that contain RTL styling for the website.
We at @InterstellarClub just started translating the website to Arabic and we need them since Arabic is a RTL.
if there aren't any files, i would like to inform you that we'll start writing them as soon as a confirmation is given.
@Aissaoui-ahmed @InterstellarClub

[2019-02-06 16:10] #1923 closed

[2019-02-06 17:03] spikeyfish2 opened #1986 "Negative example of a Custom Event Name might cause confusion"
I'm working with Vue and hit a problem that had me stumped for a few hours. I was using the documentation as a loose guide to emit and receive custom events, however the first example under Event Names [here](https://vuejs.org/v2/guide/components-custom-events.html#Event-Names) illustrates how _not_ to name both the emitter and the receiving handler. Skim reading the documentation caused me to nam

[2019-02-07 20:29] brianhogg opened #1988 "Tree View example contains modification of an object prop"
The tree view example here:

https://vuejs.org/v2/examples/tree-view.html

is modifying the `model` prop. Is that the recommended way of dealing with this? A similar example of doing a `v-model` with an object on a child component and then modifying it in the child when it probably shouldn't (ie. props should be read-only in the component).

This came up from this thread:

https://forum.vuejs.org/

[2019-02-10 21:48] LinusBorg commented on #1975
This is not related to our website / documentation.

[2019-02-10 21:48] #1975 closed

[2019-02-10 21:49] LinusBorg opened #1989 "v-slot directive is not documented in API"
We introduced the new `v-slot` directive with Vue 2.6, and we documented it's usage in the Guide.

But the API page is missing an entry about it.

[2019-02-11 06:35] NataliaTepluhina commented on #1989
@LinusBorg hmmm maybe a cache issue? I can see `v-slot` entry in the API: https://vuejs.org/v2/api/#v-slot

[2019-02-11 07:33] LinusBorg commented on #1989
Yeah, seems my cache on mobile didn't update properly.

Thanks.

[2019-02-11 07:33] #1989 closed

[2019-02-12 14:13] supergrecko opened #1992 "Visible {% raw %} and {% endraw %} in Components"
There's currently a visible raw/endraw block in the components example.

https://vuejs.org/v2/guide/components.html#Base-Example

![image](https://user-images.githubusercontent.com/42585241/52641264-b5d59d80-2ed8-11e9-932a-2a61d042d704.png)

[2019-02-12 14:56] NataliaTepluhina commented on #1992
Created a workaround here: https://github.com/vuejs/vuejs.org/pull/1979

[2019-02-13 16:27] woothu opened #1995 "Ambiguous statements about style of slots"
In new slot documentation in one place it states:

`Whenever there are multiple slots, use the full <template> based syntax for all slots`

And in another section (Named Slots Shorthand) there is an example:
[code]

So what is the best practice for defining default slot when there are multiple of them?

[2019-02-15 11:12] sustained commented on #1992
You can also see raw tags here: https://vuejs.org/v2/guide/components-dynamic-async.html

Was just about to report this issue.

[2019-02-15 20:21] Triloworld commented on #1436
Hello all
We communicate on https://discord.gg/gggQsTD
Join us and help translate.

As we write, there was some change ongoing to the link: https://github.com/pl-vuejs
(we get acceptance from github staff to claim the right name: vuejs-pl so there is little delay on work to be started)
I'am working daily as frontend developer and getting better hands-on with original documentation.
Our goal is to

[2019-02-16 03:22] Misaka-0x447f opened #2001 "v-slot directive is not working now but still exist in English document"
In the Named slots section.
Chinese document is right while English document still says use "v-slot:name" to set slot name.

[2019-02-16 05:50] Justineo commented on #2001
`v-slot` should be working now. If you’ve encountered any problem please file a bug report (with runnable reproduction) in the [vuejs/vue](/vuejs/vue) repo. Thanks.

[2019-02-16 05:50] #2001 closed

[2019-02-18 05:11] tarotaro080808 opened #2004 "About the case that v-model and checked can not be used together in IE"
In the document, v-model ignores the checked property, but IE does not ignore it and outputs an error.

[Form Input Bindings](https://vuejs.org/v2/guide/forms.html)

v-model generates a checked property in domProps.
Therefore, IE outputs errors because it is a specification that does not allow duplicate properties.

I think that it is better to have the following notes in the document.

**When usi

[2019-02-18 05:48] #1977 closed

[2019-02-18 05:51] #1780 closed

[2019-02-18 06:37] #1992 closed

[2019-02-18 06:53] #1986 closed

[2019-02-18 07:03] #1965 closed

[2019-02-18 07:06] #1874 closed

[2019-02-18 07:31] NataliaTepluhina commented on #1698
Closing this as related PR was merged

[2019-02-18 07:31] #1698 closed

[2019-02-18 08:06] merianos opened #2006 "Translate Docs to Greek - work-in-progress"
I would like to start translating vuejs.org DOCS to the Greek language.

Anyone is welcome to contribute to this translation.

Thank you,

Merianos Nikos

[2019-02-18 08:14] NataliaTepluhina commented on #1648
Closing as related PR was merged

[2019-02-18 08:14] #1648 closed

[2019-02-18 08:27] NataliaTepluhina commented on #1581
Closing as related PR was merged

[2019-02-18 08:27] #1581 closed

[2019-02-18 08:32] NataliaTepluhina commented on #1513
Closing this because now we have a great example of scoped slots in https://github.com/vuejs/vuejs.org/pull/1754

[2019-02-18 08:32] #1513 closed

[2019-02-18 08:36] NataliaTepluhina commented on #1477
Closing this issue because Vue CLI 3 is live now and docs are in sync 😉

[2019-02-18 08:36] #1477 closed

[2019-02-18 10:05] Justineo commented on #2004
Can you provide a reproduction of the issue?

[2019-02-18 10:16] Valegar opened #2008 "Error on CLI website with Firefox Developer Edition"
The website https://cli.vuejs.org/ is broken into the browser https://www.mozilla.org/en-US/firefox/developer/.
It seems to be related to the scripts call :
`<script src="/assets/js/app.aa71c60b.js" defer=""></script>`
Firefox DE try to read the content as "text/html", maybe using the attribute `type="text/javascript"` will fix that.

[2019-02-18 10:35] Justineo commented on #2008
It's working on my side (with Firefox DE 66.0b8). And I didn't find an `app.aa71c60b.js` being loaded. Can you clear your cache and try again?

[2019-02-18 11:02] Valegar commented on #2008
So strange, I updated Firefox DE 66.0b8 (macOS Mojave) and cleared the cache.
When hard refresh `⌘ + ⇧ + R` the website all is fine, the browser load last assets version :
`<script src="/assets/js/app.152d3e31.js" defer=""></script>`
but once I refresh `⌘ + R` the browser try to reload broken js files :
`<script src="/assets/js/app.aa71c60b.js" defer=""></script>`
I don't figure out why Firefox DE

[2019-02-18 11:02] #2008 closed

[2019-02-18 11:36] tarotaro080808 commented on #2004
I created a sample repository.
https://github.com/tarotaro080808/checked-polyfill

Actually, running this project causes an error in IE.
And, you can confirm that it works by deleting the checked property.
The location of the checked property is below.
https://github.com/tarotaro080808/checked-polyfill/blob/master/src/App.vue#L9

This problem seems to depend on `@babel/polyfill`.
I do not know if

[2019-02-18 17:03] adityapurwa opened #2011 "Translating Official Documentation to Bahasa Indonesia"
Hi,

We are trying to help Indonesian developers learning Vue by translating the official documentation to Bahasa Indonesia. I am adityapurwa, a native Indonesian, and together with:

- https://github.com/fahmi-idris
- https://github.com/cyberid41
- https://github.com/rohmad-st

We are trying to translate this documentation. Currently, we finished translating the homepage, installation, and introd

[2019-02-18 20:13] SimonTouitou opened #2013 "Hebrew translation of vuejs.org"
Well, seems like there were some issues with the desire to translate the docs to Hebrew and yet all of them were closed.
I am going to translate the whole documentation by myself as fast as possible.

Since Hebrew is an RTL language and hexo might not support it (have not tried it yet), I've found a nice solution for that:
https://github.com/hamecoded/oded-hexo/commit/3a5e047aca36bb046127347815006

[2019-02-18 20:20] #1739 closed

[2019-02-18 22:28] sdras commented on #2013
I've actually been meaning to look into whether we yet have RTL styles, I don't think we do. There's another issue open for this: https://github.com/vuejs/vuejs.org/issues/1985

I'll check around and get back to you in case something is in the works and not shipped yet.

[2019-02-18 22:29] sdras commented on #1985
I don't believe we have some yet, but I'll ask around in case something exists that I'm not seeing or it hasn't been shipped yet.

[2019-02-18 22:31] celyes commented on #1985
@sdras  Thank you ^^

[2019-02-19 20:32] mgrollins commented on #378
With the recent addition of the Vue.observable(object) [api_doc](https://vuejs.org/v2/api/#Vue-observable) the main guide needs updating, especially around line numbers 63, 69, and 81 in [instance.md](vuejs.org/src/v2/guide/instance.md) page.

I might be able to update this documentation, but I'm still fairly new to the ecosystem and especially JS build systems. I'm going to be attempting to add s

[2019-02-19 23:22] SimonTouitou commented on #1985
Hi,
Can you tell me if this plugin meet your needs?
https://github.com/bluemix/hexo-tag-rtl

[2019-02-20 08:39] phanan commented on #1988
Pinging @chrisvfritz /

[2019-02-20 09:26] phanan commented on #1995
If I get what you mean correctly, it seems you're confused between the _abbreviated syntax for lone default slots_ (`<user><template v-slot:default="slotProps"/></user>` => `<user v-slot="slotProps"/>`) and the _shorthand syntax_ (`<template v-slot:header>` => `<template #header>`). The example above uses shorthand syntax while still correctly adheres to the "full `<template>` based" syntax for mu

[2019-02-20 09:35] Justineo commented on #1995
I believe it should be stated as “Whenever there are multiple slots *with slot props passing down*”?

[2019-02-20 09:43] woothu commented on #1995
@phanan

No, I meant that the example should have wrapper over default slot

OR

It should be stated as justineo mentioned

[2019-02-20 09:57] phanan opened #2015 "📢Community translation announcements"
This serves as a list of announcements for community translation. Instead of creating a new issue, a new translation announcement (along with its description, repository URL, call for contributors etc.) should be posted here as a comment. Further discussions for a specific translation should happen in the corresponding repository.

[2019-02-20 09:59] phanan commented on #2015
[Bahasa Indonesia](https://github.com/adityapurwa/id.vuejs.org/) (original issue: #2011).

[2019-02-20 09:59] phanan commented on #2011
Closing in favor of #2015.

[2019-02-20 09:59] #2011 closed

[2019-02-20 10:00] phanan commented on #2006
Closing in favor of #2015. Feel free to add a link there.

[2019-02-20 10:00] #2006 closed

[2019-02-20 10:01] phanan commented on #1436
Closing in favor of #2015. Feel free to post a link there.

[2019-02-20 10:01] #1436 closed

[2019-02-20 10:02] phanan commented on #1327
Closing in favor of #2015. Feel free to post a link there.

[2019-02-20 10:02] #1327 closed

[2019-02-20 10:31] adityapurwa commented on #2015
Hello,

We are trying to help Indonesian developers learning Vue by translating the official documentation to Bahasa Indonesia. I am adityapurwa, a native Indonesian, and together with:

- [Fahmi Idris](https://github.com/fahmi-idris)
- [Edi Santoso](https://github.com/cyberid41)
- [Rohmad Sasmito](https://github.com/rohmad-st)

We are trying to translate Vue documentation to Bahasa Indonesia. For

[2019-02-20 20:48] daljeetv opened #2019 "Tell issue creators to use Speed OSS to add reward to Github Issues!"
Add this text to ISSUE_TEMPLATE.md:

`ADD A REWARD using [Speed](speedoss.com) to SOLVE this issue QUICKLY and SUPPORT this project.`

[2019-02-20 23:18] Lukyhenson commented on #1938
@yyx990803 @David263 i create this PR to solve this => https://github.com/vuejs/vuejs.org/pull/2021

[2019-02-21 04:59] #2019 closed

[2019-02-21 05:34] Lukyhenson opened #2022 "Add contributing steps on readme.md"
### Description

@yyx990803  @NataliaTepluhina what do you think to add contributing steps to new contributors on readme.md?

[2019-02-21 06:29] NataliaTepluhina commented on #2022
@Lukyhenson thanks for the proposal! I think these steps are more or less sinilar for any OSS contributions.
@phanan what do you think?

[2019-02-21 06:51] phanan commented on #2022
I agree. Thanks and looking forward to your next PRs though, @Lukyhenson 🙌

[2019-02-21 06:51] #2022 closed

[2019-02-21 07:00] phanan commented on #1938
Closing via #2021.

[2019-02-21 07:00] #1938 closed

[2019-02-22 10:57] LinusBorg opened #2027 "Document all options for object-based props definition in API"
This issue is a consequence of a conversation I had on the forum:

https://forum.vuejs.org/t/where-are-prop-options-documented/56692/3?u=linusborg

The user raised valid points, namely that the API docs in that area don't acually document the options that are avaliable except for the brief example that's given. For details about these options, the reader is forwarded to the Props Guide, but inform

[2019-02-22 11:21] phanan commented on #2027
It seems the "See also" link in the props API section also needs an update. Right now it's pointed to https://vuejs.org/v2/guide/components.html#Props which is no more, and then redirected to https://vuejs.org/v2/guide/components.html#Passing-Data-to-Child-Components-with-Props. The correct URL should be https://vuejs.org/v2/guide/components-props.html I believe.

[2019-02-23 22:47] edisdev opened #2030 "Turkish translation of vuejs.org"
Hi !

I want to translate [vuejs.org](vuejs.org) to Turkish. I was forked to the repo for this. 👍

Thank you for every thing  💯

[2019-02-24 01:09] Justineo commented on #2030
See #2015.

[2019-02-24 11:52] #2030 closed

[2019-02-24 11:54] #2027 closed

[2019-02-25 15:16] yyx990803 commented on #2015
Thanks for the contribution! We will work on deployment logistics once all translations are done.

[2019-02-26 21:35] SimonTouitou commented on #2013
@sdras I wonder, I am translating the docs and yet they won't be in any use for when I release it if RTL won't be applied.
Should I keep on translating and wait for when this feature will be applied?

[2019-02-27 04:01] marataziat opened #2034 "The "Why vue.js video" still play after popup closing"

[2019-02-27 04:10] Justineo commented on #2034
Cannot reproduce here. Is it reproducible from your side and what is your browser & version?

[2019-02-27 05:31] NataliaTepluhina commented on #2034
Can't reproduce as well.

[2019-02-27 05:44] marataziat commented on #2034
<img width="700" alt="2019-02-14 13 56 42" src="https://thumbs.gfycat.com/SoupyFriendlyAmericancrow-size_restricted.gif">

[2019-02-27 08:44] bodograumann commented on #1730
It’s great to see functional components get more attention in the docs!
What I feel is still missing, is that

1. You can really only use the few component options which are shown. *No `components`*, *no `computed`*, *no `watch`*, etc.. This was not clear to me from the existing documentation. I first had to experience it in my own experiments.

2. Are there any caveats wrt. reactivity when using

[2019-02-27 11:52] woothu commented on #1995
Could you please specify this topic?

[2019-02-27 14:27] phanan commented on #1995
I don't have a strong opinion unfortunately. Reopening for exposure.

[2019-02-27 14:30] phanan commented on #2034
Can't reproduce (same subdomain, MBP, Chrome 72.0.3626.109). Are you sure you've given the browser enough time to "cool down?" It takes me several second for the icon to disappear.

[2019-02-27 14:34] #2034 closed

[2019-02-28 05:10] sdouglas opened #2037 "API navigation is slow due to smoothScroll configuration"
Navigating to different [API](https://vuejs.org/v2/api/) entries via the anchor links on the left-hand table of contents (TOC) can be extremely slow.

For example, try clicking one of the top links in the left column, e.g. [#Global-Config](https://vuejs.org/v2/api/#Global-Config), and then scroll to the bottom of the TOC and click a link near the bottom, e.g. [#Server-Side-Rendering](https://vuejs

[2019-02-28 05:35] NataliaTepluhina commented on #2037
@sdouglas thank you so much for spotting this :+1:  ! It definitely worsen user experience on navigation.

Created a PR to fix it

[2019-02-28 08:47] phanan commented on #2037
😅😅😅

[2019-02-28 08:47] #2037 closed

[2019-02-28 20:51] jamessouth commented on #1463
😆 I didn't know this existed so I published [vue-style-lint](https://github.com/jamessouth/vue-style-lint).  It only does one thing but I guess I'll stop working on it.

[2019-03-03 12:13] realmerx opened #2042 "Improve typescript documentation to show how to use vue without imports that would require module bundler"
Since currently type definitions for vue need to be exported, you have to use import:

[code]

To get them work without import you can create custom type definition with declare global:

[code]

[2019-03-03 19:08] phanan commented on #2042
Sorry, I'm lost. What part of the documentation are we looking at?

[2019-03-04 13:14] realmerx commented on #2042
I am Sorry for not being clear enough :) https://vuejs.org/v2/guide/typescript.html

[2019-03-04 13:32] phanan commented on #2042
Right, thanks! Still, I'm not very sure what change(s) you want to see there. Do you think a PR would explain your intention better?

[2019-03-04 16:18] frfancha opened #2043 "Potential bug in Markdown Editor sample"

[2019-03-04 16:22] frfancha commented on #2043
this.input is updated by the text typed in the textarea in debounce.
This means that if the component needs to be rendered in the debounce timeout for whatever reason, the input changes are erased as the textarea is rerendered.
this.input should be directly linked to the value of the textarea (potentially by v-model) and the debounce should be applied to the conversion of the markdown only.

[2019-03-04 16:45] realmerx commented on #2042
Sure, I'll create a pull request for this.

[2019-03-08 10:30] posva opened #2049 "Remove Multi-attribute-elements-strongly-recommended"
I think we should reconsider https://vuejs.org/v2/style-guide/#Multi-attribute-elements-strongly-recommended and its dedicated eslint rule that is included by default in strongly-recommended
It doesn' make sense to split per attribute count as they can be very short leading to extremely narrow-column-looking html. There was this issue https://github.com/vuejs/eslint-plugin-vue/issues/378 but I don

[2019-03-08 10:32] posva commented on #2049
Pinging relevant people @phanan @michalsnik @mysticatea

[2019-03-08 13:20] Justineo commented on #2049
What do you think about this?

[code]

[2019-03-08 13:39] posva commented on #2049
I wonder if it's feasible, I'm not against but when using prettier you get every single one in a new line.
To me that reminds me of:

[code]

which I would totally avoid 😆

[2019-03-08 13:59] Justineo commented on #2049
For a single element, it is indeed easier to read. But to me, splitting each attribute into a new line would make it harder to figure out the overall hierarchy of the document. Though it's what we do for JavaScript objects, we won't encounter such deep structure as often as in templates.

[2019-03-08 14:16] posva commented on #2049
yeah, but I think if someone needs that customization they will have to disable the rule altogether and go manually unless it is doable with eslint, in which case an option would allow different possibilities
The thing I wanted to talk about is recommending attributes to be on multiple lines just because of the amount of attributes, the eslint rule is a completely different thing and I think it wi

[2019-03-08 14:27] phanan commented on #2049
The reason we use

[code]

in our codebase is because it's quite simple to reason about (and effective, I'd say): either all attributes are on the same line (if the max length isn't exceeded), or none of them. This applies for HTML, JS, and event backend structs alike.

[2019-03-08 14:29] phanan commented on #2049
Pinging @chrisvfritz because he's the original author of the rule.

[2019-03-08 15:49] tortuvshin opened #2050 "Translate docs to Mongolian - work in progress"
We are would like to start translating vuejs.org docs to the **Mongolian** language.

Translation Repo [vuejs-mn](https://github.com/vuejs-mn/mn.vuejs.org)

Contributors: @doljko @ebatgerel and anyone is welcome to contribute to this translation.

https://vuejs-mn.netlify.com/

Thank you,

Turtuvshin Byambaa

[2019-03-08 19:48] phanan commented on #2050
Please see #2015.

[2019-03-08 19:48] #2050 closed

[2019-03-09 08:12] solatch opened #2052 "Proposal: make clear what means "your browser's JavaScript console""
### Summary

The guide document should make clear what means "your browser's JavaScript console" for each execution environment.

### Expected behavior

I executed the contents of "Getting Started" of guide document by using JSFiddle.
(Browser: Google Chrome)
https://jp.vuejs.org/v2/guide/

### Actual behavior

In "Conditionals and Loops" section, it was written as

So I did in the following steps

[2019-03-09 22:20] phanan commented on #2052
The "browser console" means just that: your browser's console. As you were looking at the [Guide](https://vuejs.org/v2/guide/), just open the Chrome DevTools when you're there. We even emphasize in the Guide that:

So I don't see how this can be confusing.

[2019-03-09 22:20] #2052 closed

[2019-03-12 05:43] aantipov opened #2058 "Render Functions docs refer to use of slots attributes"
In "Render Functions & JSX" section https://vuejs.org/v2/guide/render-function.html there is a statement

It refers to use of a `slot` attribute which is deprecated. Instead we need to refer to use of the new `v-slot` directive

[2019-03-12 05:53] aantipov commented on #2058
The same problem in https://vuejs.org/v2/api/#vm-slots:

`slot="foo"` is a deprecated syntax

[2019-03-12 15:29] rdhelms opened #2059 "Suggestion: use shorter method definition syntax"
Currently in the Vue docs, methods are defined using the `methodName: function () {}` syntax, such as for the `data` method below:

**Current Example**: https://vuejs.org/v2/guide/components.html
[code]

But it is very common in tutorials, articles, and other Vue apps to use the shorter method definition syntax, described by MDN here:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Referen

[2019-03-12 16:21] phanan commented on #2058
Indeed, thanks for pointing this out. I'd suggest we opt for a more graceful change though, with the new `v-slot` directive as the main reference and a note about `slot` for the previous version. Do you think you can work on such PR?

[2019-03-12 16:26] phanan commented on #2059
Indeed, the doc shouldn't use arrow functions (or any ES5 feature in that sense), with the sole exception of cookbooks where readers are expected to be more familiar with the language/framework. If you find any example that's not the case, it's most likely an oversight from us, and a PR is welcomed :)

[2019-03-12 16:26] #2059 closed

[2019-03-12 22:11] aantipov commented on #2058
@phanan Done!

[2019-03-13 10:44] NoelDeMartin commented on #1087
@andreasvirkus @chrisvfritz Hey just letting you know that duck duck go accepted the bang! so you can now search using it, for example "v-model !vue" and it'll take you to the vue docs :).

[2019-03-13 17:04] Aissaoui-Ahmed commented on #2015
hello everyone !
as a translation group, we would like to inform you that
Arabic translation of the website will be started by [Interstellar Club](https://github.com/­InterstellarClub)

* Translation Repo - [/interstellarClub/­ar.vuejs.org](https://github.com/­interstellarClub/­ar.vuejs.org)
* Primary Maintainers :
  * [Ilyes Chouia](https://github.com/­celyes)
  * [Ahmed Aissaoui](https://github.

[2019-03-15 07:30] #2058 closed

[2019-03-15 17:41] klondikemarlen opened #2063 "Can you put Good code before Bad code in Style Guide?"
I find that when reading something, I read things in order of importance from top to bottom. And I find that Good code style to be more useful to know in the long run than Bad code style.

This is a duplicate of https://github.com/vuejs/vuejs.org/issues/1670 but that issue is closed and I feel this is still relevant (and I can't reopen that one).

[2019-03-18 13:28] MickaMx opened #2067 "Inaccuracy in comparisons guide"
In the paragraph https://vuejs.org/v2/guide/comparison.html#Flexibility-and-Modularity you are using webpack template but it's deprecated thanks to Vue CLI 3.

Maybe talking about Vue CLI 3 is best.

[2019-03-18 13:53] phanan commented on #2067
Indeed, thanks for pointing out. Are you interested in working on a PR?

[2019-03-19 07:57] MickaMx commented on #2067
Why not, that could be interesting.

[2019-03-20 00:59] sfy1231 commented on #50
道理都懂，但是你不妨碍我们起初选择Vue已经最终客户反悔的情况发生，对于大部分银行来说，这是一个无法变化或者极其缓慢变化的事情

[2019-03-20 04:35] sdras commented on #2063
Just so I understand- are you proposing that we put good first, then an explanation about why it's good and then the bad?

I could go either way on it, because I see a pro and con for each:
* Good before bad doesn't [bury the lede](https://style.mla.org/dont-bury-the-lede/)
* Bad before good gives less context on reading
I assume the major difference is whether you're really reading through or ski

[2019-03-20 07:58] phanan commented on #2063
IMO this is very subjective. If instead it was good before bad, there would be someone else suggesting the other way around anyway (me 😄 ). So let's leave it as-is.

[2019-03-20 10:41] nicoweber opened #2070 "Firefox Debugging Config"
The Firefox debugging configuration does not work.

The first error message was:
![image](https://user-images.githubusercontent.com/11292742/54686941-b4704400-4b1a-11e9-9e2a-d6365fefee96.png)

My launch.json is

[code]

then i added the
`        "firefoxExecutable": "C:/Users/{first.last}/AppData/Local/Mozilla Firefox/firefox.exe",`
to the launch.json firefox configuration, but the behavior was no

[2019-03-20 11:18] phanan commented on #2070
Sorry, but "doesn't work" doesn't help. Unless you can give us more details, I'm going ahead and close this issue.

[2019-03-20 15:10] saidfagan opened #2072 "Azerbaijani translation."
Hi people!
I am going to translate the documentation to Azerbaijani language (Azərbaycan Türkçəsi). Will gladly accept assistance from anyone who wants. The repo is here: [github.com/saidfagan/vuejs.org](https://github.com/saidfagan/vuejs.org)

[2019-03-20 15:15] Justineo commented on #2072
See #2015.

[2019-03-20 15:20] nicoweber commented on #2070
With this firefox-config i also get this error
Config
` {
      "type": "firefox",
      "request": "launch",
      "name": "vuejs: firefox",
      "url": "http://localhost:8080",
      "webRoot": "${workspaceFolder}/src",
      "pathMappings": [{ "url": "webpack:///src/", "path": "${webRoot}/" }]
    }
`

error:
![image](https://user-images.githubusercontent.com/11292742/54696385-01104b00-4b2c-11

[2019-03-20 15:46] phanan commented on #2070
Have you tried setting `"firefoxExecutable"` in your `launch.json`'s configuration?

[2019-03-20 16:00] phanan commented on #2070
Anyway this is not a documentation issue. I've just configured my env and it works just fine.

![image](https://user-images.githubusercontent.com/8056274/54699595-9d891c00-4b31-11e9-85af-68484de7b100.png)

[2019-03-20 16:00] #2070 closed

[2019-03-20 16:09] saidfagan commented on #2015
Hi people!
I am going to translate the documentation to Azerbaijani language (Azərbaycan Türkçəsi).
Will gladly accept assistance from anyone who wants. The fork is here: [https://github.com/saidfagan/az.vuejs.org](github.com/saidfagan/vuejs.org)

[2019-03-20 16:12] saidfagan commented on #2072
Closing the issue as suggested.

[2019-03-20 16:12] #2072 closed

[2019-03-20 16:15] nicoweber commented on #2070
i`ve edited my intial post. with the example configuration my and the env of my coworker does not work.

[2019-03-20 16:49] phanan commented on #2070
Can you try using backslashes instead? Anyway, like I said above, the config works just fine for me so it's not a documentation issue. You're welcome to ask for help on our [Discord](https://vue-land.js.org/) or [forum](https://forum.vuejs.org) instead.

[2019-03-20 16:53] SuhwanCha opened #2073 "Header is translucence"
![image](https://user-images.githubusercontent.com/16171447/54703072-77886980-4b7b-11e9-8ba0-7b6e45168a94.png)

The header is translucence when ```min-width: 1590px```.
I think to remove translucence is better.
Is there a particular reason why have to use translucence header?
Under 1590px, `background-color: #fff` but over 1590px `background-colro: rgba(255,255,255,0.4)`

[2019-03-20 17:16] dholth opened #2074 "improve v-slot documentation"
The slots documentation is confusing.

When you look for slots, it points you to the RFC for v-slot, and tells you it replaces the slot and slot-scope attributes. Two things a newcomer shouldn't have to know about. https://vuejs.org/v2/guide/components-slots.html#ad

Instead, it should immediately tell you that you declare a slot with `<slot/>`, fill a slot by putting content between the tags of y

[2019-03-20 17:17] klondikemarlen commented on #2063
@sdras just swapping good/bad order so good is first. I find that when reading, I like to read down the page expecting the important stuff first, then if I have time or am lost I read further to get more context. I find this to be the prevalent style of any document except novels. As the entire Vue.js documentation is very succinct, I would suggest following the same style used my news articles (i

[2019-03-20 17:50] phanan commented on #2074
These two things are marked with `>`, indicating "side notes" and are not meant to be the main content (which actually starts with the "Slot Content" section).

[2019-03-20 17:54] phanan commented on #2073
I agree, this looks kind of weird (maybe a leftover from some UI decision in the past). Do you want to create a PR for this?

[2019-03-20 18:11] dholth commented on #2074
That may be true, but it is still the first and most prominent part of the documentation.

On Wed, Mar 20, 2019, at 1:50 PM, Phan An wrote:

[2019-03-21 01:32] SuhwanCha commented on #2073
@phanan
I'll create PR soon 😊

[2019-03-21 06:34] saidfagan commented on #2015
Please update [this section](https://github.com/vuejs/vuejs.org#want-to-help-with-the-translation) in the Readme file. It is misleading and suggests creating new issue for translation.

[2019-03-21 07:11] #2073 closed

[2019-03-21 07:14] phanan commented on #2015
@saidfagan Indeed! Do you want to work on such a PR? Something along the lines of "announce your translation in [Community translation announcements](https://github.com/vuejs/vuejs.org/issues/2015)" would be good enough I guess.

[2019-03-21 16:25] adityapurwa commented on #2015
I would like to create the PR if no one is taking it.

[2019-03-22 21:37] sdras commented on #2063
I think @phanan has a point here :) closing this out.

[2019-03-22 21:37] #2063 closed

[2019-03-23 18:53] sdras opened #2082 "Clearer Template Section, JSX support mention"
We need to explain a bit better that the most common way to write Vue components are SFC, and not template strings. We also need to mention earlier that we support JSX. I'm just hearing so much feedback based on misunderstanding here that this needs to be more clear. Happy to make a PR for it.

@chrisvfritz @phanan @NataliaTepluhina for input.

[2019-03-23 18:57] phanan commented on #2067
@MickaMx Any updates?

[2019-03-24 11:56] NataliaTepluhina commented on #2082
@sdras I completely agree we need to focus on SFC more and mention template strings as a valid but not primary option.

Also agree on JSX, it really helps people with previous React experience to start with Vue easier.

Please let me know if you need any help with PR! 🙌

[2019-03-24 14:37] Misaka-0x447f opened #2083 "adding tips about custom events will not broadcasting now"
As a vue begineer, I was having a stereotype about event system, that is "event system will broadcast my custom events, not only tell parents". So a tip about that could be useful for users that not starting from vue 1.x.

* Costed over one week to debug this, finally found that it is a feature.

[2019-03-24 14:53] animyrch commented on #2015
Hello everyone,

I have started the Turkish translation of this official documentation on my github at
https://github.com/animyrch/vuejs.org

I am not sure about the deployment process but if other Turkish speakers would like to contribute, don't hesitate to message me / self-assign tasks.

[2019-03-24 17:18] NataliaTepluhina commented on #2083
@Misaka-0x447f could you please point out on what part of the documentation was unclear? I am looking at https://vuejs.org/v2/guide/components.html#Listening-to-Child-Components-Events and it's explicitly saying about parent/child communication 🤔

[2019-03-25 01:19] Misaka-0x447f commented on #2083
@NataliaTepluhina At debugging time I just goes to read [https://vuejs.org/v2/guide/components-custom-events.html](https://vuejs.org/v2/guide/components-custom-events.html) ... And there's no tips about "event will only catchable by the parent, not all components" so.

[2019-03-25 07:16] phanan commented on #2083
@Misaka-0x447f Your linked page assumes that you've read @NataliaTepluhina's, which talks about parent-child communication in multiple places. Thank you for your feedback, but I don't think repeating information is a good idea here. Closing.

[2019-03-25 07:16] #2083 closed

[2019-03-25 07:30] Misaka-0x447f commented on #2083
@phainv

ok but wait... how about add a tip to the more basic one, [/guide/components.html#Listening-to-Child-Components-Events](https://vuejs.org/v2/guide/components.html#Listening-to-Child-Components-Events) ?

This section only says "you can listen to child", not "you can only listen to child"(not including child of child), also nothing about "any two component communication"... These info are

[2019-03-25 07:49] MickaMx commented on #2067
I've been busy the last week, i'll do it today or tomorrow.

[2019-03-26 12:06] parthbhagat opened #2087 "Reloading Vue instance after ajax response received"
I am new to Vuejs and using Vuejs 2.0. This is an evaluation phase for us as we are trying feasibility of Vue with our existing project.

What I am trying to achieve is on click event of a button the page makes an Ajax call and receives HTML content. This HTML content includes normal HTML tags as well as Vue components. After the end of the content, I have added Vue instance creation script so tha

[2019-03-26 18:37] pranayaryal commented on #2087
Why do you want to get your component with Ajax and how have you defined your `makeAjaxReq()` method? Why can you not use conditional rendering to show or hide your component based on ajax response?

[2019-03-27 11:15] parthbhagat commented on #2087
Current structure we are having is completely HTML. On `makeAjaxReq()`, it creates ajax request with get/post method and send it to the server, which returns HTML response. That response is set/update to one of the container on the page. Mostly ajax request is to validate form data and show error messages (in case data is invalid) or submit the form and show next step which may be another form or

[2019-03-27 15:16] pranayaryal commented on #2087
Why can't the button which makes the ajax request be inside the Vue instance instead of outside? Why would you need a separate javascript file to make the request?

[2019-03-27 16:50] parthbhagat commented on #2087
The reason there is separate javascript file is we have created a common js library which performs some task prior to make request and handling of response. This javascript library also handles some data validations, performs session checking operations. These are all done in our custom javascript library.

As far as I have understood Vuejs (which is at a beginner level), we can do ajax request in

[2019-03-29 04:46] parthbhagat commented on #2087
Any input on this please @pranayaryal ?

[2019-03-29 12:37] woothu commented on #1995
Just to clarify what I  have meant:
In one place docs says to wrap default slot in template tags when there are multiple slots:

`Whenever there are multiple slots, use the full <template> based syntax for all`

[code]
And in another places slot  docs doesn't stick to this rule:
[code]

And yet, in another place says it is optional to stick to this rule:

`However, you can still wrap default slot

[2019-03-29 14:23] rdhelms opened #2095 "Better documentation for stylelint"
This is a request to add better information here:
https://vue-loader.vuejs.org/guide/linting.html#stylelint

Currently, the docs simply say "Make sure that your stylelint config is right", and the link takes you to the general stylelint config docs, which say nothing specific about linting vue files.

And the second option listed in the docs is `stylelint-webpack-plugin`, which does not support th

[2019-03-29 14:29] phanan commented on #2095
Please report this issue in [vue-loader repo](https://github.com/vuejs/vue-loader) instead.

[2019-03-29 14:29] #2095 closed

[2019-03-29 14:31] rdhelms commented on #2095
Sorry - is this because there IS not currently a good known way to use stylelint with vue components as the docs suggest? Because if that's the case I would still say this is an issue in the docs.

The docs communicate a sense that "you can use stylelint easily!". If that's not true, it should say so.

On the other hand, if there IS already a way to easily use stylelint, that seems to just be a do

[2019-03-29 14:44] pranayaryal commented on #2087
You can use Vue's lifecycle hooks to subscribe to a service or to unsubscribe from a service. https://vuejs.org/v2/guide/instance.html#Instance-Lifecycle-Hooks

[2019-03-29 14:44] phanan commented on #2095
@rdhelms This repository is for vuejs.org docs. Your issue belongs to vue-loader docs. They are different.

[2019-03-29 14:45] phanan commented on #2087
@parthbhagat Please use our [forum](https://forum.vuejs.org/) or [Discord](https://vue-land.js.org/).

[2019-03-29 14:45] #2087 closed

[2019-03-29 15:58] bartduisters commented on #2015
Started Dutch translations: [https://github.com/bartduisters/nl.vuejs.org/](https://github.com/bartduisters/nl.vuejs.org/)

Begonnen met de Nederlandse vertaling: [https://github.com/bartduisters/nl.vuejs.org/](https://github.com/bartduisters/nl.vuejs.org/)

[2019-04-07 11:55] co16353sidak opened #2105 "404 error for docsearch.min.js.map"
I noticed that there seems to be a 404 error for the resource `docsearch.min.js.map` in the browser console when I loaded the website:
<img width="1280" alt="Screenshot 2019-04-07 at 5 24 07 PM" src="https://user-images.githubusercontent.com/35738138/55683136-fb9f6700-5959-11e9-885c-c354f5342736.png">

Would love to find a way to contribute on this and remove this console error.

[2019-04-07 12:55] phanan commented on #2105
Strange, I don't seem to receive this error.

[2019-04-07 13:57] co16353sidak commented on #2105
This could be a platform specific problem, i tested the above on Safari (latest edition), on Firefox I am not able to find this error. 🍎

[2019-04-08 01:27] sdras commented on #1782
As per the comments in #2014, we're going to add a button for installation on the introduction page in leu of replacing the github link.

[2019-04-08 04:17] sdras commented on #2074
I think it's a good thing to link off to where things are headed here. It's pretty important information that even a beginner should take note of. We'll be refactoring this section in the Vue 3 release coming up, it's not too far away :)

[2019-04-08 04:17] #2074 closed

[2019-04-08 04:18] sdras commented on #2067
Fixed! Closing it out.

[2019-04-08 04:18] #2067 closed

[2019-04-08 04:19] sdras commented on #2013
Having the docs done is more impetus to getting RTL finished, and we already have Arabic, so I say go for it. It will actually help prioritize this work.

[2019-04-08 04:35] sdras commented on #1781
We definitely do need to clarify `<template/>` earlier because it's extremely commonly used and we don't introduce it until late. Sorry about that! We'll be working on that for the Vue 3 release, as well as updated slots documentation

[2019-04-08 04:36] sdras commented on #1789
Still interested in submitting a PR for this or should we take it from here?

[2019-04-08 09:42] migz7 opened #2106 "can i add buttons and radio buttons or checkbox or combobox to grid"
`var demo = new Vue({
  el: '#demo',
  data: {
    searchQuery: '',
    gridColumns: ['LinkTest', 'PartNumber', 'Lnominal', 'Ipeak', 'IDC', 'Price'],
    gridData: [
      { LinkTest:'<a href="#">Test</a>', PartNumber: 'XFL4015-122', Lnominal: 1.2, Ipeak: 0.96, IDC: 1.1, Price: '$' + 18.79 },
      { LinkTest:'<a href="#">Test</a>', PartNumber: 'XGL4020-332', Lnominal: 3.3, Ipeak: 2.7, IDC: 2.9, P

[2019-04-08 09:45] phanan commented on #2106
Please use our [forum](https://forum.vuejs.org/) or [Discord](https://vue-land.js.org/) for questions like this. Thanks.

[2019-04-08 09:45] #2106 closed

[2019-04-09 03:59] sdras commented on #2043
cc @chrisvfritz

[2019-04-10 02:19] Justineo opened #2110 "The v-slot directive breaks an example for functional components"
https://vuejs.org/v2/guide/render-function.html#slots-vs-children

With code example being:

[code]

But `v-slot` is not allowed to be used on the element itself. It should be at least:

[code]

Or to be more clear:

[code]

But after updating to the valid syntax, the following part is not accurate anymore:

`children` won't give you both paragraphs, instead only those aren't wrapped inside the `<

[2019-04-10 06:50] NataliaTepluhina commented on #2110
@Justineo to be more precise, if you wrap it in `<template>` without `v-slot` directive, it will be shown in `children`:

[code]

[2019-04-10 07:06] Justineo commented on #2110
It's the same as the old `slot="default"` so I'd say it's expected. I think there might be a regression after we introduce `v-slot` that breaks the old behavior for functional components.

/cc @yyx990803

[2019-04-10 07:23] Justineo commented on #2110
PS. See [this sandbox](https://codesandbox.io/s/7zvo193q2x). The `children` passing down isn't working for `v-slot`.

[2019-04-10 08:13] NataliaTepluhina commented on #2110
Agreed, with some testing it seems the issue is definitely in `v-slot` directive

@Justineo there is a small mistake in your sandbox: `import MyComponent from "./components/MyComponent";` should be `import MyComponent from "./components/MyFunctionalComponent"` 😅

[2019-04-10 08:51] Justineo commented on #2110
@NataliaTepluhina Oh it's not successfully saved since my last edit, fixed now.

[2019-04-11 05:35] afontcu opened #2114 "Multi-word built-in components"
Hi! The docs state that:

_"Component names should always be multi-word, except for root App components."_ ([source](https://vuejs.org/v2/style-guide/#Multi-word-component-names-essential)).

However, built-in components such as `<component>` or `<transition>` break that rule.

Is it something worth mentioning in the docs? My team had some doubts about it (the docs are enforcing a rule that Vue it

[2019-04-12 08:48] #1789 closed

[2019-04-12 09:26] sdras commented on #2114
I don't think the answer here is to update Vue itself. The Styleguide needs some caveat in the wording like,

_"Component names should always be multi-word, except for root App components, and built-in components provided by Vue, such as `<transition>`."_

Open to a PR but I can also fix it up.

[2019-04-12 10:31] afontcu commented on #2114
Makes sense :) I’ll submit the PR!

El 12 abr 2019, a les 11:26, Sarah Drasner <notifications@github.com> va escriure:

[2019-04-12 11:51] #2114 closed

[2019-04-12 12:37] #1782 closed

[2019-04-16 05:03] co16353sidak opened #2125 "Design inconsistencies in navbar design across different pages"
urls:
1. https://vuejs.org
2. https://vuejs.org/v2/guide/

screenshots:
<img width="1280" alt="Screenshot 2019-04-16 at 10 30 01 AM" src="https://user-images.githubusercontent.com/35738138/56183198-21e89500-6033-11e9-9aa2-4a843b0ecc74.png">
<img width="1278" alt="Screenshot 2019-04-16 at 10 29 55 AM" src="https://user-images.githubusercontent.com/35738138/56183200-23b25880-6033-11e9-99f7-64a27db39

[2019-04-16 06:34] phanan commented on #2125
Thanks for the suggestion, but I'm not sure how you get the different font sizes - both look exactly the same on my browser(s). WRT logo and bottom border: yes, they're intentional. So let's leave them as-is :)

[2019-04-16 06:34] #2125 closed

[2019-04-16 06:36] phanan commented on #2125
Oh, maybe you mean the _logo_'s font size. In that case, it's intentional too.

[2019-04-16 15:24] thejcannon opened #2126 "Document .native modifier on "Event Handling" page"
The "Event Handling" page has a handy list of modifiers, which excludes `.native` as a valid modifier.
You don't learn about the `.native` modifier until you get all the way down to "Custom Events" (which is a somewhat misleading place to have to go to learn about it).

The `.native` modifier should be documented on the "Event Handling" page alongside it's brothers/sisters.

[2019-04-16 15:49] NataliaTepluhina commented on #2126
Thank you for reporting this issue! It was previously discussed within the core team and we decided to leave it as-is for now.

The reason is: having `.native` modifier in **Components In-Depth** section makes sense. If you try to use `.native` not on custom Vue component but on native HTML element like `button`, you will notice the event handler is broken. [Here](https://codesandbox.io/s/m718j536

[2019-04-16 15:58] NataliaTepluhina commented on #2105
Confirmed. On Safari we have `https://cdn.jsdelivr.net/docsearch.js/1/dist/cdn/docsearch.min.js.map` link (and it's broken) and on all other browsers we have `https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js`.